<a href="https://colab.research.google.com/github/MinakoNG63/DSFB/blob/main/03_Python_basics_63070240.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics


Term 1 2022 - Instructor: Teerapong Leelanupab

Teaching Assistant:
1. Piyawat Chuangkrud (Sam)
2. Suvapat Manu (Mint)

***

This notebook shows examples of Python code, including built-in functions, packages and programming structures useful for Data Science and Business Analytics. This should be review for you all!  At the bottom there are some pointers to a few resources.

## Python code

***

### 1. Variables, operations and data types

**Variable**: A container in memory, which has a unique name or identifier, where you can store data.
Start using the variable by assigning it a value, where the *=* symbol denotes *assignment*. The data can be of a variety of types:

- Integer numbers
- Floating (decimal numbers)
- Strings

Let's create three variables, one of each type, with 3 different names:

In [ ]:
some_integer = 5
some_float = 7.12
some_string = "Student"

Python has a number of variable naming rules:
* Can contain both letters and numbers, but must begin with a letter.
* Can contain the underscore character.
* Must not clash with reserved keywords.

These can seen from the above examples.

We can print out the value in these variables using the *print* function - note the use of parentheses.
Remember we need to run the previous cell first!

In [ ]:
print (some_integer)
print (some_float)
print (some_string)

5
7.12
Student

Each variable also has a type, indicating the nature of the value that it stores.

In [ ]:
print(type (some_integer))
print(type (some_float))
print(type (some_string))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
type("KMITL")

str

Numeric data can be *integers* (whole numbers) or *floats* (real values):

In [ ]:
a = 3
b = -125
fx = 0.432
fy = -24.23

*Boolean* values can be indicated by *True* or *False* - case sensitive! Can alternatively we can use '1' and '0'

In [ ]:
answer = True
test_value = False

A *string* value containing text is enclosed within either single quotes or double quotes - make sure you end with the same character:

In [ ]:
some_text = "hello world"
moredata = 'King Mongkut\'s Institute of Technology Ladkrabang, Thailand'

We also use a special value *None* to indicate a variable containing an empty or "null" value:

In [ ]:
current_value = None

***
### 2. Operators and Expressions

Python can be used as a simple calculator. It supports all basic mathematical operators, such as +, -, *, /

We can use combinations of these operators and values to create *expressions*, which are the building blocks of Python code.

In [ ]:
a = 4 * 3 + 2
a

14

In [ ]:
b = a - 2
b

12

We can also use operators to perform assignment and an operation on the same variable. Note that these lines include *comments* - everything from # onwards is ignored.

In [ ]:
a += 2   # add 2 to the value currently in a and assign it back to a
b -= 1   # subtract 1 from the value currently in b and assign it back to b

In [ ]:
a

16

In [ ]:
b

11

Parentheses can be used to control the *order* in which operators are applied:

In [ ]:
4 + 10 / 2  # Division will normally be applied first

9.0

In [ ]:
(4 + 10)/2  # Use parenthesis to apply addition first, then division

7.0

There are also other operators, such as %,// and ** (modulo, floor division and ‘to the power’)

In [ ]:
3**2

9

***

### 3. Boolean Expressions

Any value or variable in Python can be tested for a 'truth value'. These will yield a value of True or False, depending on what we are testing - e.g. equality, inequality, greater/less than

In [ ]:
x = 75 # don't confuse assignment with equality!

In [ ]:
x == 75 # test for equality

True

In [ ]:
x == 100 # test for equality

False

In [ ]:
x != 100 # test for inequality

True

In [ ]:
x < 1000 # less than

True

In [ ]:
x > 0 # greater than

True

Python contains boolean operators to create more complex boolean expressions:
* *not x*: returns False if x is True, True otherwise
* *x and y*: if both x and y are True then return True, otherwise False
* *x or y*: if either x or y are True then return True, otherwise False

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
not True

False

In [ ]:
x > 0 and x < 100

True

***
### 4. Display Variables in Different Contexts and Combinations with Operators

What if I want to print some text and then some numbers? One easy way to do this is to realize that printing will always **want** string data.

If you have data that is not a string (like an integer or float), you can **convert** it to a string:

In [ ]:
print ("My integer is " + str(some_integer) + ".")
print ("My float converted into integer is " + str( int(some_float) ) + ".")

My integer is 5.
My float converted into integer is 7.

What else can we do with our variables? We can do basic math: **operations**.

In [ ]:
print ("sum " + str( some_integer + some_float ))
print ("multiplication " + str ( some_integer * some_float ))
print ("quotient " + str( some_integer / some_float ))
print ("power " + str( 10**some_integer ))

sum 12.120000000000001
multiplication 35.6
quotient 0.7022471910112359
power 100000

We can store this as a new variable and print it:

In [ ]:
my_sum = some_integer + some_float
print ("Sum variable: " + str( my_sum ))

Sum variable: 12.120000000000001

***

### 5. Basic Data Strcutures

There are also other **data structures**:

- **Lists** (sometimes refered to as "arrays", but look up the difference). Although lists are similar to NumPy arrays, they do not have the specialized properties and tools that make arrays so powerful for scientific computing. You will see NumPy arrays later in subsequent lectures in this course.
- **Dictionaries** (sometimes refered to as "associative arrays" or "HashMap" in Java). Dictionaries are an important part of core Python. Like lists, but the elements of dictionaries are accessed by “keys”, which can be either strings or (arbitrary) integers (in no particular order).
- **Sets**. (sometimes refered to as "HashSet" in Java) A set is an unordered and unindexed collection of of unique elements. In Python sets are written with curly brackets or set() constructor.

In [ ]:
some_list = [0,0,1,2,3,3,4.5,7.6]
some_dictionary = {'student1': '(929)-000-0000', 'student2': '(917)-000-0000', 'student3': '(470)-000-0000'}
some_set = set( [1,2,4,4,5,5] ) # like "some_set = {1,2,4,4,5,5}""

print ("This is a list:  " + str(some_list))
print ("This is a dictionary:  " + str( some_dictionary ))
print ("This is a set:  " + str( some_set ))

This is a list:  [0, 0, 1, 2, 3, 3, 4.5, 7.6]
This is a dictionary:  {'student1': '(929)-000-0000', 'student2': '(917)-000-0000', 'student3': '(470)-000-0000'}
This is a set:  {1, 2, 4, 5}

How can we use  **individual** elements?

In Python (and generally by computer science convention), we count elements of a _list_ starting from zero! To get the first item we should look in the 0th space:

In [ ]:
print (some_list[0])

0

Adding things to the end of the list is "appending" them:

In [ ]:
some_list.append(500)
print (some_list)

[0, 0, 1, 2, 3, 3, 4.5, 7.6, 500]

How can we retrieve an element (**VALUE**) of a _dictionary_ ?  Use its **"KEY"** !!

In [ ]:
print (some_dictionary['student1'])

(929)-000-0000

***

### 6. Formatting Outputs

There are various ways of creating outputs formatted as desired by using *print* function with the placeholder `%`.

For more customizable string creation and printing, python also includes rich formatting capability that may be familiar to developers of other high-level programming language. Some examples are below. In a nutshell, one adds placeholders to the string being constructed. These placeholders always start with a `%` followed by some additional information that determines how the data will be formatted. After the string, another `%` is used, followed by the acutal data that is to be inserted in the prior placeholders. The full capabilities of python string formatting are beyond the scope of this primer, for more info, please consult the [offical documentation](https://docs.python.org/2/library/stdtypes.html#string-formatting) or [outputs with print](https://www.python-course.eu/python3_formatted_output.php).

In [ ]:
print ("generic %s formatting, equivalent to the str() functionality seen earlier" % "STRING")
print ("an example with zero padding an integer %03d and multiple %s" % (5, "PLACEHOLDERS"))
print ("often one wants to truncate the precision when displaying floats %.3f" % 3.1415926536)

generic STRING formatting, equivalent to the str() functionality seen earlier
an example with zero padding an integer 005 and multiple PLACEHOLDERS
often one wants to truncate the precision when displaying floats 3.142

***

### 7. Create functions

Functions allow us to execute predefined operations and to define our own operations that will be available later.  They encapsulate procedures. If we know we are likely to execute some operation many times, we may want to save time, to avoid repeated code, and often to clarify what we are doing.  To do this, we would define a function.  

(*If you haven't thought this through before, consider the drawback of repeated code: what if later you realize that you need to fix something in that code block.  You'd have to go through and fix it everywhere.*)

For example, consider having to calculate the area of a circle.

In [ ]:
def area_of_a_circle(radius):
  area = 3.1416 * radius ** 2
  return area

In [ ]:
circle_area = area_of_a_circle(5)
print ("Area of a circle with radius 5 is: " + str( circle_area))

Area of a circle with radius 5 is: 78.53999999999999

Can you see what is going on here? My function that I helpfully named `"area_of_a_circle"` takes one **argument** that we will call radius. It then uses this radius to get the area and then *returns* it. Now, whenever I want to get the area of some circle, I simply call `area_of_a_circle()` and place the radius in the middle of the parentheses.

***

### 8. Loops / iterations

For data analysis we do a lot of repetitive things. This doesn't mean we need to do a ton of copy and pasting, though. We can use **loops** to make this easy. As a very simple example, what if we wanted to square each number from 1 to 5?

In [ ]:
for number in [1, 2, 3, 4, 5]:
  print (number * number)

1
4
9
16
25

Let's use the function we did before. Remember this is a function that can only be used in **this notebook**

( unless we write a **"script"** file, but we'll see that later... ):

In [ ]:
for number in [1, 2, 3, 4, 5]:
  print ("Area of circle with radius " + str(number) + " is: " + str( area_of_a_circle(number) ))

Area of circle with radius 1 is: 3.1416
Area of circle with radius 2 is: 12.5664
Area of circle with radius 3 is: 28.2744
Area of circle with radius 4 is: 50.2656
Area of circle with radius 5 is: 78.53999999999999

***

### 9. Conditionals and comparisons

Sometimes we need to check something before deciding what to do next. For example,

In [ ]:
def is_best_prof(name):
  if name == "Teerapong":
    return True
  else:
    return False

In [ ]:
print (is_best_prof("Teerapong"))

True

In [ ]:
print (is_best_prof("Thanos"))

False

In [ ]:
my_prof = "Teerapong"
if is_best_prof(my_prof):
  print("You're going to have a great semester!")
else:
  print("Well, make the best of it!")

You're going to have a great semester!

You see in that last one how we have a conditional in the cell, and then call a function that has a conditional inside it?  

Let's put a whole bunch of these things together:

In [ ]:
my_profs = ["Thanos", "Kaido", "Bigmom", "BlackBeard", "Teerapong"]
one_best = False
for prof in my_profs:
  if is_best_prof(prof):
    one_best = True
if one_best:
    print("You're going to have a great semester!")
else:
    print("Well, make the best of it!")

You're going to have a great semester!

As we can see here, we made **comparison** of names with the "equal" operation  (==).  Remember ... it's == not just = !

Other comparisons:

- strictly less than  <
- less than or equal  <=
- strictly greater than  >
- greater than or equal  >=
- not equal  !=
- object identity  "is"
- negated object identity "is not"

What if we want to compare more than one element?
We should include logical operations such as:

- "and", also known as "&&"
- "or", also known as "||"

Let's see if you can guess my age with this function!!

In [ ]:
def is_my_age(age_argument):
  if age_argument < 20:
    return "Of course not!"
  elif (age_argument >= 20) & (age_argument <= 40):
    return "Maybe.."
  elif age_argument > 40:
    return "Don't even think about it!"

In [ ]:
print (is_my_age(10))

Of course not!

In [ ]:
print (is_my_age(23))

Maybe..

In [ ]:
print (is_my_age(80))

Don't even think about it!

### 10. Install other library and version

In [ ]:
!pip install git+https://github.com/scikit-learn-contrib/py-earth@v0.2dev
from pyearth import Earth #pip install other lybrary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/scikit-learn-contrib/py-earth@v0.2dev
  Cloning https://github.com/scikit-learn-contrib/py-earth (to revision v0.2dev) to /tmp/pip-req-build-9b_dwp_f
  Running command git clone -q https://github.com/scikit-learn-contrib/py-earth /tmp/pip-req-build-9b_dwp_f
  Running command git checkout -b v0.2dev --track origin/v0.2dev
  Switched to a new branch 'v0.2dev'
  Branch 'v0.2dev' set up to track remote branch 'v0.2dev' from 'origin'.
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.7/dist-packages (from sklearn-contrib-py-earth==0.1.0+16.g400f84d) (1.7.3)
Requirement already satisfied: scikit-learn>=0.16 in /usr/local/lib/python3.7/dist-packages (from sklearn-contrib-py-earth==0.1.0+16.g400f84d) (1.0.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sklearn-contrib-py-earth==0.1.0+16.g400f84d) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.16->sklearn-contrib-py-earth==0.1.0+16.g400f84d) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.16->sklearn-contrib-py-earth==0.1.0+16.g400f84d) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.16->sklearn-contrib-py-earth==0.1.0+16.g400f84d) (3.1.0)
Building wheels for collected packages: sklearn-contrib-py-earth
  Building wheel for sklearn-contrib-py-earth (setup.py) ... done
  Created wheel for sklearn-contrib-py-earth: filename=sklearn_contrib_py_earth-0.1.0+16.g400f84d-cp37-cp37m-linux_x86_64.whl size=3997259 sha256=b69e96f99dacfeb42867f432c88b1fcb56506d090098fbebdb19ced4a0532f38
  Stored in directory: /tmp/pip-ephem-wheel-cache-z1qit4sn/wheels/79/d7/aa/1e418a9aea84424ef2ce2697ae7cccace322976388d3692e8e
Successfully built sklearn-contrib-py-earth
Installing collected packages: sklearn-contrib-py-earth
Successfully installed sklearn-contrib-py-earth-0.1.0+16.g400f84d

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
!pip install pandas==1.1.0 #ใส่เวอร์ชันที่ต้องการใช้ --> เมื่อรันบรรทัดนี้เสร็จให้กด Restart runtime ตรง Runtime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==1.1.0
  Downloading pandas-1.1.0-cp37-cp37m-manylinux1_x86_64.whl (10.5 MB)
     |████████████████████████████████| 10.5 MB 26.8 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.0) (2022.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.0) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.0) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.0) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.1.0

## Help, help, and more help!

- [Codecademy's Python Course](https://www.codecademy.com/learn/learn-python-3). Working though this class will give you a _great_ foundation for Python.
- [Diving into Python](http://diveinto.org/python3/) online book. Working your way from chapter 1 through chapter 5 would put you in a very nice place!
- [Python for Data Analysis](https://www.amazon.com/Python-Data-Analysis-Wrangling-IPython-ebook/dp/B009NLMB8Q/ref=mt_kindle?_encoding=UTF8&me=) was the book that Prof. Foster suggested to prior iterations of this course. You can take a look at the chapters: Preliminaries, Introductory Examples (e.g. "Counting Time Zones with pandas”), IPython (page 46 to 62) and specially, Pandas--one of the main Python packages for data analysis.  We will work with Pandas in class.
- [Pandas Cookbook](https://www.amazon.com/Pandas-Cookbook-Scientific-Computing-Visualization/dp/1784393878) is another great resource to learn Pandas. It has lots of practice problems with detailed solutions in IPython notebooks.


If you are ever stuck just remember: it is normal. This is actually how professional programmers work every day. Google is your best friend. `stackoverflow`, a popular programming question and answer site, has an extremely rich repository of solutions to problems that people have encountered, and many capable participants provide answers to those mysterious and rare problems that have not been addressed before. Just remember to look thoroughly before you ask!

Finally, programming is a creative process- it can't be brute forced. It's natural to get stuck or frustrated from time to time, even with the incredible resources that are now available. Imagine an author trying to find the perfect paragraph to describe a character. In these situations, I like to go for a walk, listen to some music, or get some exercise. Anything to clear my head. From experience, many seemingly hard programming problems have become solvable only after introducing some fresh perspective, and being stuck while beating your head on the keyboard just isn't fun.