<a href="https://colab.research.google.com/github/MinakoNG63/DSFB/blob/main/05_Introduction_to_Pandas_63070240.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas

Term 1 2022 - Instructor: Teerapong Leelanupab

Teaching Assistant:
1. Piyawat Chuangkrud (Sam)
2. Suvapat Manu (Mint)

***

Python has a ton of packages that make doing complicated stuff very easy. We won't discuss how to install packages, or give a detailed list of what packages exist, but we will give a brief description about how they are used.

An easy way to think of why package are useful is by thinking: "**Python packages give us access to MANY functions**".

Packages contain pre-defined functions (built-in) that make our life easier!  We've seen pre-defined functions before, for example, the funciton 'str()' that we used to convert numbers into strings in the Python Basics notebook.

There are four packages (i.e.,  `pandas`, `sklearn`, `matplotlib`, and `numpy`), we will soon frequently use for data science process.

- **`pandas`** is a data manipulation package. It lets us store data in data frames. More on this soon.
- **`sklearn`** is a machine learning and data science package. It lets us do fairly complicated machine learning tasks, such as running regressions and building classification models with only a few lines of code. (Nice!)
- **`matplotlib`** lets you make plots and graphs directly from your code.  This can be a secret weapon when combined with notebooks, as you can very easily rerun analyses on different data or with slightly different code, and the graphs can just appear magically.  (Ok, always easier said than done, but you get the idea.)
- **`seaborn`** an extension to matplotlib that really helps make your plots look more appealing
- **`numpy`** (pronounced num-pie) is used for doing "math stuff", such as complex mathematical operations (e.g., square roots, exponents, logs), operations on matrices, and more.

As we use these through the class, their usefulness will become increasingly apparent.

In [ ]:
!mkdir data

# download countries.csv
!gdown --id 1V1CvRNEKlArvoC1TTSKEOTd_gC9I6DiC -O data/countries.csv

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1V1CvRNEKlArvoC1TTSKEOTd_gC9I6DiC
To: /content/data/countries.csv
100% 715/715 [00:00<00:00, 882kB/s]

## 1. Revise Python *List*

ลองสร้างลิสต์ที่มีชื่อกับเบอร์โทรศัพท์

In [ ]:
# create a list of tuples
customer = [('kim','12345678901'),('ricky','08172312313'),('woon','09123144513'),('somchai','0712314534')]

for i in range(10000000):
  customer.append(('brooklyn','01231412314'))
customer.append(('mike','018512314123'))
#customer

In [ ]:
customer

สร้างฟังก์ชั่น เพื่อหาเบอร์โทร

In [ ]:
def getphonenum(customer, cusname):
  cnum = []
  for c in customer:
    if c[0]==cusname:
      cnum.append(c[1])
      #cnum = int(cnum) * 100
  return cnum

### Processing time
ดู Processing time ของ Function โดยใช้ **%time**

In [ ]:
%time getphonenum(customer, 'mike')
#'018512314123'

CPU times: user 620 ms, sys: 1.39 ms, total: 622 ms
Wall time: 625 ms

['018512314123']

## 2. Revise Python *Dictionary* (คล้าย Pandas Series - ใน section ถัดไป)

2.1 dictionary คืออะไร <br>
2.2 การสร้าง dictionary

In [ ]:
mydic = {}
mydic['kim'] = '1234567890'
mydic['ricky'] = '0812312341'
mydic

{'kim': '1234567890', 'ricky': '0812312341'}

In [ ]:
mydic = {'brooklyn':'0618201998','pond':'0812312341'}
mydic

{'brooklyn': '0618201998', 'pond': '0812312341'}

2.3 ใช้ dictionary ยังไง

In [ ]:
mydic['brooklyn']

'0618201998'

2.4 ใช้ dictionary เมื่อไหร่

In [ ]:
#ทดสอบการนำข้อมูล
# create a dictionary of customers with their phone numbers
customerDict = {'kim':'12345678901','ricky':'08172312313','woon':'09123144513','somchai':'0712314534'}

for i in range(10000000):
  customerDict['brooklyn' + str(i+1)] = '012' + str(i+1).zfill(6)
customerDict['mike'] = '018512314123'
#customerDict

In [ ]:
def getphonenumdict(customerDict, cusname):
      return customerDict[cusname]

In [ ]:
%time getphonenumdict(customerDict, 'mike')

## Pandas
In this class we will learn ***Pandas*** and try it in detail.

Pandas is an open source package providing high-performance data structures and analysis tools for Python. It provides a Python equivalent of the data analysis and manipulation tools available in the R programming language.

Pandas offers two key data structures that are optimised for data analysis and manipulation: Series and Data Frame. The key distinction of these data structures over basic Python data structures is that they make it easy to associate an *index* with data - i.e. row and column names.

To start off, we import the Pandas package. We can import it as *pd* for shorthand.

In [ ]:
import pandas as pd

check Pandas version

In [ ]:
pd.__version__

## 1. Pandas Series

A *Series* is a **one**-dimensional array capable of holding any data type (integers, strings, floating point numbers, etc.).

***
### 1.1. Create Padas Series
To create a new series, we can use the *Series()* method. The simplest (but least useful) approach is to pass in a Python list. This means that the Series will have a numeric index.

In [ ]:
s1 = pd.Series([2,101,45,232,45,67])
s1

We can also explicitly pass a list of index values to the Series() method to use a more interesting index (in this case strings containing country names):

In [ ]:
populations = pd.Series([1357000000, 1252000000, 321068000, 249900000, 200400000, 191854000, 69312295],
                        ["China", "India", "United States", "Indonesia", "Brazil", "Pakistan", "Thailand"])
print(populations)

This is very similar to a Python dictionary. In fact we can create a Series directly from a Python dictionary. Here the keys in the dictionary act as the index for the Series:

In [ ]:
populations = pd.Series({"China":1357000000, "India":1252000000, "United States":321068000, "Indonesia":249900000,
                         "Brazil":200400000, "Pakistan":191854000, "Thailand":69312295})
print(populations)

***
### 1.2. Basic statistics
A Series has associated functions for a range of simple analyses:

In [ ]:
populations.min()

In [ ]:
populations.max()

In [ ]:
populations.median()

In [ ]:
populations.mean()

In [ ]:
populations.std()   # standard deviation

The *describe()* function gives a useful statistical summary of a Series using a single line:

In [ ]:
populations.describe()

***
### 1.3. Accessing Series Values by Position
A Series offers a number of choices for accessing element values. We can use simple position numbers like lists, counting from 0:

In [ ]:
populations[0]  # value at 1st position

In [ ]:
populations[2]  # value at 3rd position

We can use slicing via the *:* operator (remember this includes the elements from index start up to but not including index end):

In [ ]:
populations[0:2]  # start at 1st position, end before 3rd position

In [ ]:
populations[1:]  # everything from the 2nd position onwards

In [ ]:
populations[:3]  # everything before the 4th position

We can also provide Boolean expressions for conditional data access:

In [ ]:
# Check which of the values in the Series are > 1 billion
populations > 1000000000

In [ ]:
# Select only the positions for which the corresponding values in the Series are > 1 billion
populations[populations > 1000000000]

We can use numeric positions to modify values in a series:

In [ ]:
populations[0] = 1364730000
populations

***
### 1.4. Accessing Series Values by Index
We can also access elements using the index defined at creation, similar to a dictionary:

In [ ]:
populations["India"]

In [ ]:
populations["China"]

We can access multiple elements by passing a list of index values:

In [ ]:
populations[["Brazil","China"]]

We can also use an index to modify values in a series:

In [ ]:
populations["China"] = 1374730000
populations

***
## 2. Pandas Data Frames

A Pandas *Data Frame* is a **2**-dimensional labelled data structure with columns of data that can be of different types. Like a series, it supports both position-based and index-based data access.

***
### 2.1. Create Padas Frames

The easiest way to create a DataFrame is to pass the *DataFrame()* method a dictionary of lists, where each list will be a column. Notice that IPython Notebooks will render frames in a tabular format.

In [ ]:
countries = pd.DataFrame({"Country":["China", "India", "United States", "Indonesia", "Brazil", "Pakistan", "Thailand"],
                          "Population":[1357000000, 1252000000, 321068000, 249900000, 200400000, 191854000, 69312295],
                          "GDP":[11384760, 2182580, 17968200, 888648, 1799610, 246849, 455302],
                          "Life Expectancy":[75.41, 68.13, 79.68, 72.45, 73.53, 67.39, 75.30]})
countries

We can get the dimensions of the Data Frame using the *shape* variable, which is a tuple of the form (rows,columns):

In [ ]:
countries.shape

***
### 2.2. Loading Data Frames

We read a Data Frame from a CSV file via the *read_csv()* function. The first line contains the column
names, each subsequent line will be a row in the frame. By default, the function assumes the values are comma-separated.

In [ ]:
df = pd.read_csv("data/countries.csv")

In [ ]:
df.shape   # check the size of the dataset which we have loaded

We can also tell the *read_csv()* function to use one of the columns in the CSV file as the index for the rows in our data. In the example below we will use the "Country ID" columns:

In [ ]:
df = pd.read_csv("data/countries.csv",index_col="Country ID")
df

***
### 2.3.  Data Frame Statistics
Again we can use the describe() function to get a basic summary of the values in a Data Frame, which is presented as a table with statistics for each columns:

In [ ]:
df.describe()

We can also get individual statistics for each column:

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.sum()

In [ ]:
df.std()

***
### 2.4. Accessing *Rows* in Data Frames
We can also access rows of the Data Frame in different ways. We can use numeric slicing to access ranges of individual rows:

In [ ]:
df[0:2] # access first two rows

We can access a single row of a Data Frame as a Series, by using *iloc* (integer-location or **using integer as index**) and the row position:

In [ ]:
df.iloc[0]   # get first row

Similar to numeric slicing, we can alternatively access the multiple rows by using *iloc*.

In [ ]:
df.iloc[0:4]   # get first four rows

We can access a single row of a Data Frame, by using *loc* (using string, i.e., key as index) and the index of the row. For more info about [loc function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas.DataFrame.loc). Again this returns a Series:

In [ ]:
df.loc["Sweden"]

In [ ]:
df.loc["Argentina"]

***
### 2.5. Accessing *Columns* in Data Frames
Columns in a Data Frame can be accessed using a pair of **single** square brackets  `[ ]` and the name of the column to give a single column Series.

In [ ]:
df["School Years"]

Notice the type of an element returned by a single square bracket `[ ]`

In [ ]:
type(df["School Years"])

Columns in a Data Frame can be accessed using a pair of **double** square brackets  `[[ ]]` and the name of the column to give a single column Series.

In [ ]:
df[["School Years"]]

Notice the type of an element returned by a double square bracket `[[ ]]`

In [ ]:
type( df[["School Years"]] )

For `df[[colname(s)]]`, the interior brackets are for list, and the outside brackets are indexing operator, i.e. you must use double brackets if you select two or more columns. <font color='red'>With one column name, single pair of brackets returns a Series, while double brackets return a dataframe.</font>

Multiple columns can be selected by passing a list of column names. The result is a new Data Frame, where the row index values are also copied.

In [ ]:
df[["CPI","School Years"]]

We can also use iloc (integer-location) and numeric positions to access individual columns, using slicing:

In [ ]:
# Return all rows, and first two columns
df.iloc[:,0:2]

***
### 2.6. Accessing Individual Values in Data Frames
There are a variety of different ways to access and change the individual values in a Data Frame, using combinations of an index and/or position.

In [ ]:
# Access by row index, then column index
df.loc["Ireland"]["School Years"]

In [ ]:
# Access by column index, then row index
df["Mil. Spend"]["China"]

In [ ]:
# Access by row position, then column index
df.iloc[3]["Life Exp."]

In [ ]:
# Access by row position, then column position
df.iloc[3][4]

We can also use these functions to modify values in a Data Frame. For example:

In [ ]:
df.loc["Sweden"]

In [ ]:
# Change an individual value
df.loc["Sweden"]["Life Exp."] = 85.1

In [ ]:
df.loc["Sweden"]