<a href="https://colab.research.google.com/github/MinakoNG63/DSFB/blob/main/10_Data_Collection%2C_JSON_and_XML_APIs%2C_BeautifulSoup%2C_and_SQLAlchemy_63070240.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Collection & Data Formats
## JSON, XML APIs, BeautifulSoup and SQLAlchemy (Updated 2022)

Term 1 2022 - Instructor: Teerapong Leelanupab

Teaching Assistant:
1. Piyawat Chuangkrud (Sam)
2. Suvapat Manu (Mint)

***

## Downloading Data
There are several built-in Python modules for performing URL requests.

### Python 2
**urllib**, **urllib2**

1. *urllib* and *urllib2* are both Python modules that do URL request related stuff but offer different functionalities.

    - *urllib2* can accept a Request object to set the headers for a URL request, *urllib* accepts **only** a URL.

    - *urllib* provides the **urlencode** method which is used for the generation of GET query strings, *urllib2* doesn't have such a function. This is one of the reasons why *urllib* is often used along with *urllib2*.
    
### Python 3
**urllib**, **urllib3** and **requests**

1. The built-in Python *urllib.request* module has functions which help in downloading content from HTTP URLs using minimal code. There is no more *urlib2* because the *urllib2* module has been split across several modules in Python 3 named *urllib.request* and *urllib.error*. The Python 2 to Python 3 tool will automatically adapt imports when converting your sources to Python 3.

2. *urllib3* is a third-party package. Despite the name, it is unrelated to the standard library packages, and there is no intention to include it in the standard library in the future.

3. *requests* is built on top of *urllib3*. *requests* internally uses urllib3 with an aim for an easier-to-use API.

    - Python Requests encodes the parameters automatically so you just pass them as simple arguments, unlike in the case of *urllib*, where you need to use the method *urllib.encode()* to encode the parameters before passing them.

    - It automatically decoded the response into Unicode.

    - Requests also has far more convenient error handling. If your authentication failed, urllib would raise a urllib.URLError, while Requests would return a normal response object, as expected. All you have to see if the request was successful by boolean response.ok

**However, directly using *urllib3* can be more efficient, because it lets you reuse the session, whereas requests creates one for every request**

In [ ]:
!pip install urllib3 requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [ ]:
import sys
sys.version

'3.7.13 (default, Apr 24 2022, 01:04:09) \n[GCC 7.5.0]'

In [ ]:
#https://gist.github.com/andrewwatts/2012630
#https://stackoverflow.com/questions/18061640/ignore-certificate-validation-with-urllib3?fbclid=IwAR3S0lDEVJKgO44qKaQ_MlGHk7kPiOP0fwTLLFh7DTE4wyT6YVvwZd30xjg

import time

_URL = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/kmitl.txt"
_NUMBER = 10 #modify this from 1 to 1000 times of attempts

def test_urllib():
  from urllib import request, error
  try:
      response = request.urlopen(_URL)
  except error.HTTPError as e:
      response = e
  response.code
  return response.read()

def test_urllib3():
  import urllib3
  import ssl

  ssl_verify = False
  if (ssl_verify):
      cert_reqs = ssl.CERT_REQUIRED
  else:
      cert_reqs = ssl.CERT_NONE
      urllib3.disable_warnings()

  http = urllib3.PoolManager(cert_reqs = cert_reqs)
  response = http.request('GET', _URL)
  response.status
  return response.data

def test_requests_text():
  import requests
  response = requests.get(_URL)
  response.status_code
  return response.text

def test_requests_content():
  import requests
  response = requests.get(_URL)
  response.status_code
  return response.content

In [ ]:
def main():
  from timeit import Timer
  t_urllib = Timer("test_urllib()", "from __main__ import test_urllib")
  print('{0} urllib: {1}'.format(_NUMBER,  t_urllib.timeit(number=_NUMBER) ) )
  t_urllib3 = Timer("test_urllib3()", "from __main__ import test_urllib3")
  print('{0} urllib3: {1}'.format(_NUMBER,  t_urllib3.timeit(number=_NUMBER)))
  t_requests_text = Timer("test_requests_text()", "from __main__ import test_requests_text")
  print('{0} requests_text: {1}'.format(_NUMBER,  t_requests_text.timeit(number=_NUMBER)))
  t_requests_content = Timer("test_requests_content()", "from __main__ import test_requests_content")
  print('{0} requests_content: {1}'.format(_NUMBER,  t_requests_content.timeit(number=_NUMBER)))

if __name__ == '__main__':
  main()

10 urllib: 10.934259912000016
10 urllib3: 12.241627262000009
10 requests_text: 11.546980679
10 requests_content: 12.637256039999954

## Choice to select which package
1. So, if you just want a simplicity of usage -> go for *requests* #เน้นง่ายในการใช้งาน
2. If you have restriction about installation of other packages -> use standard package, *urllib*
3. If your speed is your concern -> go for *urllib3* #เน้น speed

## 1. Work with *urllib*

In [ ]:
import urllib
import urllib.request
url = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/kmitl.txt"
response = urllib.request.urlopen(url)
text = response.read().decode()
print(text)

	The establishment of the Nondhaburi Telecommunication Training Center on August 24, 1960 with academic cooperation from the Government of Japan marked the origination of KMITL. The training center became the Nodhaburi Institute of Telecommunications under the Columbo Plan, later in 1964.
	As specified by the 1971 King Mongkut's Institute of Technology Act, KMITL was originated by an amalgamation of three technical colleges: Nondhaburi Institute of Telecommunications, North Bangkok Technical College and Thonburi Technical College. In the same year, the Nondhaburi Institute of Telecommunications, or known as King Mongkut's Institute of Technology at Nondhaburi Campus, was relocated to the district of Ladkrabang in Bangkok. The new campus was called ''Chao Khun Taharn Ladkrabang Campus''. The Nondhaburi Institute of Telecommunications became the Faculty of Engineering in 1972. In the same year, the College of Design and Construction located at the Bangplad district was transformed into the Faculty of Architecture affiliated with KMITL.
	In 1986, KMITL became a legitimate public university under a legislation called ''King Mongkut's Institute of Technology Ladkrabang Act'', which regulates its governance, administration and operation. Like other public universities in Thailand, KMITL is a government agency under the supervision of the former Ministry of University Affairs, which was merged with the Ministry of Education on July 7, 2003. At present, KMITL, like other public or autonomous universities, is under the supervision of the Commission on Higher Education affiliated with the Ministry of Education.
    The name of the institute was derived from the name of King Rama IV. The royal grand crown seal has been graciously used as the emblem of the institute. The name "Chao Khun Taharn" has been used in honor of Chao Phya Surawong Waiyawat (Won Boonnak) of whom the heiress, Liam Prot Pitaya Payat, donated her own land to establish the institute. In 1977, the Faculty of Industrial Education and Science was established for offering fundamental courses for all faculties and for providing education and promoting research in science. In 1979, the Chao Khun Taharn Agricultural College, which was affiliated with the Department of Vocational Education, Ministry of Education, was transferred to KMITL, and became the Faculty of Agricultural Technology. The Computer Research and Service Center and the School of Graduate Studies were founded in 1981 and 1986, respectively. In 1988, the Faculty of Industrial Education and Science was separated into two faculties: the Faculty of Industrial Education and the Faculty of Science. In 1991, the Central Library was founded. In 1995, KMITL opened its first remote campus in Chumphon Province with 1,800 hectares of land in order to support the development of industry in the southern part of Thailand.
    As information technology is of vital importance in our increasingly globalized and competitive world, in 1996, the Faculty of Information Technology was founded with the aim to provide higher education and research programs in information technology. In 2000, the department of Agricultural Industry within the Faculty of Agricultural Technology was endorsed to become the Faculty of Agroindustry. Moreover, there are several academical collaborations between King Mongkut's Institute of Technology Ladkrabang and the Japanese government since the signing of Memorandum of Understanding (MOU) in 1960

### Wrap your code in Try Except
In practice, we may often want to wrap code to fetch URLs in a try block, to handle the case where we cannot access the URL.

In [ ]:
url = "https://somemissinglink.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/kmitl.txt"
try:
  response = urllib.request.urlopen(url)
  text = response.read().decode()
except:
  print("Failed to retrieve %s" % url)

Failed to retrieve https://somemissinglink.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/kmitl.txt

## 2. Work with *requests*

In [ ]:
import requests
url = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/kmitl.txt"
response = requests.get(url)
# print(response.status_code)
print(response.text)

	The establishment of the Nondhaburi Telecommunication Training Center on August 24, 1960 with academic cooperation from the Government of Japan marked the origination of KMITL. The training center became the Nodhaburi Institute of Telecommunications under the Columbo Plan, later in 1964.
	As specified by the 1971 King Mongkut's Institute of Technology Act, KMITL was originated by an amalgamation of three technical colleges: Nondhaburi Institute of Telecommunications, North Bangkok Technical College and Thonburi Technical College. In the same year, the Nondhaburi Institute of Telecommunications, or known as King Mongkut's Institute of Technology at Nondhaburi Campus, was relocated to the district of Ladkrabang in Bangkok. The new campus was called ''Chao Khun Taharn Ladkrabang Campus''. The Nondhaburi Institute of Telecommunications became the Faculty of Engineering in 1972. In the same year, the College of Design and Construction located at the Bangplad district was transformed into the Faculty of Architecture affiliated with KMITL.
	In 1986, KMITL became a legitimate public university under a legislation called ''King Mongkut's Institute of Technology Ladkrabang Act'', which regulates its governance, administration and operation. Like other public universities in Thailand, KMITL is a government agency under the supervision of the former Ministry of University Affairs, which was merged with the Ministry of Education on July 7, 2003. At present, KMITL, like other public or autonomous universities, is under the supervision of the Commission on Higher Education affiliated with the Ministry of Education.
    The name of the institute was derived from the name of King Rama IV. The royal grand crown seal has been graciously used as the emblem of the institute. The name "Chao Khun Taharn" has been used in honor of Chao Phya Surawong Waiyawat (Won Boonnak) of whom the heiress, Liam Prot Pitaya Payat, donated her own land to establish the institute. In 1977, the Faculty of Industrial Education and Science was established for offering fundamental courses for all faculties and for providing education and promoting research in science. In 1979, the Chao Khun Taharn Agricultural College, which was affiliated with the Department of Vocational Education, Ministry of Education, was transferred to KMITL, and became the Faculty of Agricultural Technology. The Computer Research and Service Center and the School of Graduate Studies were founded in 1981 and 1986, respectively. In 1988, the Faculty of Industrial Education and Science was separated into two faculties: the Faculty of Industrial Education and the Faculty of Science. In 1991, the Central Library was founded. In 1995, KMITL opened its first remote campus in Chumphon Province with 1,800 hectares of land in order to support the development of industry in the southern part of Thailand.
    As information technology is of vital importance in our increasingly globalized and competitive world, in 1996, the Faculty of Information Technology was founded with the aim to provide higher education and research programs in information technology. In 2000, the department of Agricultural Industry within the Faculty of Agricultural Technology was endorsed to become the Faculty of Agroindustry. Moreover, there are several academical collaborations between King Mongkut's Institute of Technology Ladkrabang and the Japanese government since the signing of Memorandum of Understanding (MOU) in 1960

In [ ]:
url = "https://somemissinglink.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/kmitl.txt"
try:
  response = requests.get(url)
  response.status_code
  response.text
except:
  print("Failed to retrieve %s" % url)

Failed to retrieve https://somemissinglink.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/kmitl.txt

## 3. Working with CSV

The CSV ("Comma Separated Values") file format is often used to exchange tabular data between different applications, like Excel. Essentially a CSV file is a plain text file where values are split by a comma separator. Alternatively can be tab or space separated.

We could download a CSV file using *urllib.request* and manually parse it...

In [ ]:
# Download the CSV and store as a string
url = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/goal_scorers.csv"
response = urllib.request.urlopen(url)
raw_csv = response.read().decode()
# Parse each line
lines = raw_csv.split("\n")
for l in lines:
  l = l.strip()
  if len(l) > 0:
    # split based on a comma separator
    parts = l.split(",")
    print(parts)

['Player', 'Team', 'Total Goals', 'Penalties', 'Home Goals', 'Away Goals']
['J Vardy', 'Leicester City', '19', '4', '11', '8']
['H Kane', 'Tottenham', '16', '4', '7', '9']
['R Lukaku', 'Everton', '16', '1', '8', '8']
['O Ighalo', 'Watford', '15', '0', '8', '7']
['S Aguero', 'Manchester City', '14', '1', '10', '4']
['R Mahrez', 'Leicester City', '14', '4', '4', '10']
['O Giroud', 'Arsenal', '12', '0', '4', '8']
['D Costa', 'Chelsea', '10', '0', '7', '3']
['J Defoe', 'Sunderland', '10', '0', '3', '7']
['G Wijnaldum', 'Newcastle Utd', '9', '0', '9', '0']
['T Deeney', 'Watford', '8', '5', '2', '6']
['R Barkley', 'Everton', '8', '2', '5', '3']
['A Ayew', 'Swansea City', '8', '0', '5', '3']
['G Sigurdsson', 'Swansea City', '7', '3', '2', '5']
['W Rooney', 'Manchester Utd', '7', '1', '3', '4']
['A Martial', 'Manchester Utd', '7', '0', '4', '3']
['D Alli', 'Tottenham', '7', '0', '1', '6']
['D Payet', 'West Ham Utd', '7', '0', '3', '4']
['M Arnautovic', 'Stoke City', '7', '2', '4', '3']
['Y Toure', 'Manchester City', '7', '0', '3', '4']

### This is what we commonly use to download csv using *pandas*
But we can also use Pandas to directly download and parse CSV data for us, to create a Data Frame which is ready to analyse.

In [ ]:
import pandas as pd
df = pd.read_csv("https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/goal_scorers.csv")
df

,Player,Team,Total Goals,Penalties,Home Goals,Away Goals
0,J Vardy,Leicester City,19,4,11,8
1,H Kane,Tottenham,16,4,7,9
2,R Lukaku,Everton,16,1,8,8
3,O Ighalo,Watford,15,0,8,7
4,S Aguero,Manchester City,14,1,10,4
5,R Mahrez,Leicester City,14,4,4,10
6,O Giroud,Arsenal,12,0,4,8
7,D Costa,Chelsea,10,0,7,3
8,J Defoe,Sunderland,10,0,3,7
9,G Wijnaldum,Newcastle Utd,9,0,9,0
10,T Deeney,Watford,8,5,2,6
11,R Barkley,Everton,8,2,5,3
12,A Ayew,Swansea City,8,0,5,3
13,G Sigurdsson,Swansea City,7,3,2,5
14,W Rooney,Manchester Utd,7,1,3,4
15,A Martial,Manchester Utd,7,0,4,3
16,D Alli,Tottenham,7,0,1,6
17,D Payet,West Ham Utd,7,0,3,4
18,M Arnautovic,Stoke City,7,2,4,3
19,Y Toure,Manchester City,7,0,3,4

## Working with JSON

[JSON](http://json.org/) is a lightweight format which is becoming increasingly popular for online data exchanged. Based originally on the JavaScript language and (relatively) easy for humans to read and write

The built-in module *json* provides an easy way to encode and decode data in JSON in Python.

In [ ]:
import json

Let's try downloading and parsing a simple JSON file which contains information about a number of books, originally from librarything.com:

In [ ]:
url = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/books.json"
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")

In [ ]:
print(raw_json)

[{
	"book_id": "13585350",
	"title": "The World Treasury of Science Fiction",
	"ISBN": "",
	"year": 1989,
	"rating": 3,
	"language": "eng"
}, {
	"book_id": "124205572",
	"title": "The War of the Worlds",
	"ISBN": "1936594056",
	"year": 2013,
	"rating": 4,
	"language": "eng"
}, {
	"book_id": "127360065",
	"title": "Under the Dome: A Novel",
	"ISBN": "1439149038",
	"year": 2013,
	"rating": 2,
	"language": "eng"
}, {
	"book_id": "13908800",
	"title": "The Ultimate Hitchhiker's Guide to the Galaxy",
	"ISBN": "0345453743",
	"year": 2002,
	"rating": 5,
	"language": "eng"
}, {
	"book_id": "123734934",
	"title": "The Time Traveler's Wife",
	"ISBN": "1476764832",
	"year": 2014,
	"rating": 5,
	"language": "eng"
}, {
	"book_id": "13603020",
	"title": "Salem's Lot",
	"ISBN": "0451098277",
	"year": 1976,
	"rating": 3,
	"language": "eng"
}, {
	"book_id": "124173974",
	"title": "Republic",
	"ISBN": "039395501X",
	"year": 1985,
	"rating": 3,
	"language": "eng"
}, {
	"book_id": "123102859",
	"title": "The Road",
	"ISBN": "0307387895",
	"year": 2006,
	"rating": 5,
	"language": "eng"
}]

We can now parse the JSON, converting it from a string into a useful Python data structure:

In [ ]:
data = json.loads(raw_json)
print(data)

[{'book_id': '13585350', 'title': 'The World Treasury of Science Fiction', 'ISBN': '', 'year': 1989, 'rating': 3, 'language': 'eng'}, {'book_id': '124205572', 'title': 'The War of the Worlds', 'ISBN': '1936594056', 'year': 2013, 'rating': 4, 'language': 'eng'}, {'book_id': '127360065', 'title': 'Under the Dome: A Novel', 'ISBN': '1439149038', 'year': 2013, 'rating': 2, 'language': 'eng'}, {'book_id': '13908800', 'title': "The Ultimate Hitchhiker's Guide to the Galaxy", 'ISBN': '0345453743', 'year': 2002, 'rating': 5, 'language': 'eng'}, {'book_id': '123734934', 'title': "The Time Traveler's Wife", 'ISBN': '1476764832', 'year': 2014, 'rating': 5, 'language': 'eng'}, {'book_id': '13603020', 'title': "Salem's Lot", 'ISBN': '0451098277', 'year': 1976, 'rating': 3, 'language': 'eng'}, {'book_id': '124173974', 'title': 'Republic', 'ISBN': '039395501X', 'year': 1985, 'rating': 3, 'language': 'eng'}, {'book_id': '123102859', 'title': 'The Road', 'ISBN': '0307387895', 'year': 2006, 'rating': 5, 'language': 'eng'}]

We can now iterate through the books in the list and extract the relevant information that we require.

In [ ]:
for book in data:
  print( "%s = %d" % ( book["title"], book["year"] ) )

The World Treasury of Science Fiction = 1989
The War of the Worlds = 2013
Under the Dome: A Novel = 2013
The Ultimate Hitchhiker's Guide to the Galaxy = 2002
The Time Traveler's Wife = 2014
Salem's Lot = 1976
Republic = 1985
The Road = 2006

We then use json_normalize in Pandas to create a Data Frame of semi-structured JSON data to make it ready to analyse.

In [ ]:
from pandas import json_normalize

df = json_normalize(data)
df.head(5)

,book_id,title,ISBN,year,rating,language
0,13585350,The World Treasury of Science Fiction,,1989,3,eng
1,124205572,The War of the Worlds,1936594056,2013,4,eng
2,127360065,Under the Dome: A Novel,1439149038,2013,2,eng
3,13908800,The Ultimate Hitchhiker's Guide to the Galaxy,0345453743,2002,5,eng
4,123734934,The Time Traveler's Wife,1476764832,2014,5,eng

### OR
Alternatively, we can also use Pandas to directly download and parse JSON data for us, to create a Data Frame which is ready to analyse.

In [ ]:
import pandas as pd
link = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/books.json"
df = pd.read_json( link, orient="records")
df.head(5)

,book_id,title,ISBN,year,rating,language
0,13585350,The World Treasury of Science Fiction,,1989,3,eng
1,124205572,The War of the Worlds,1936594056,2013,4,eng
2,127360065,Under the Dome: A Novel,1439149038,2013,2,eng
3,13908800,The Ultimate Hitchhiker's Guide to the Galaxy,0345453743,2002,5,eng
4,123734934,The Time Traveler's Wife,1476764832,2014,5,eng

## Working with XML

Extensible Markup Language (XML) is a markup language that defines a set of rules for encoding documents in a format which is both human-readable and machine-readable. XML is a widely-adopted format. Python includes several built-in modules for parsing XML data.

The *xml.etree.ElementTree* module can be used to extract data from a simple XML file based on its tree structure.

In [ ]:
# download the content
url = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/books.xml"
response = urllib.request.urlopen(url)
raw_xml = response.read().decode()
print(raw_xml)

<?xml version="1.0" encoding="UTF-8"?>
<booklist>
   <book id="13585350">
      <title>The World Treasury of Science Fiction</title>
      <ISBN />
      <year>1989</year>
      <rating>3</rating>
      <language>eng</language>
   </book>
   <book id="124205572">
      <title>The War of the Worlds</title>
      <ISBN>1936594056</ISBN>
      <year>2013</year>
      <rating>4</rating>
      <language>eng</language>
   </book>
   <book id="127360065">
      <title>Under the Dome: A Novel</title>
      <ISBN>1439149038</ISBN>
      <year>2013</year>
      <rating>2</rating>
      <language>eng</language>
   </book>
   <book id="13908800">
      <title>The Ultimate Hitchhiker's Guide to the Galaxy</title>
      <ISBN>0345453743</ISBN>
      <year>2002</year>
      <rating>5</rating>
      <language>eng</language>
   </book>
   <book id="123734934">
      <title>The Time Traveler's Wife</title>
      <ISBN>1476764832</ISBN>
      <year>2014</year>
      <rating>5</rating>
      <language>eng</language>
   </book>
   <book id="13603020">
      <title>Salem's Lot</title>
      <ISBN>0451098277</ISBN>
      <year>1976</year>
      <rating>3</rating>
      <language>eng</language>
   </book>
   <book id="124173974">
      <title>Republic</title>
      <ISBN>039395501X</ISBN>
      <year>1985</year>
      <rating>3</rating>
      <language>eng</language>
   </book>
   <book id="123102859">
      <title>The Road</title>
      <ISBN>0307387895</ISBN>
      <year>2006</year>
      <rating>5</rating>
      <language>eng</language>
   </book>
</booklist>

We can use the *xml.etree.ElementTree.fromstring()* function to parse content from a string containing XML data.

In [ ]:
import xml.etree.ElementTree as et
xroot = et.fromstring(raw_xml)

NameError: ignored

An XML tree has a root node (i.e. the top level of the document), with child nodes at lower levels. We can iterate over these:

In [ ]:
for child in xroot:
  # get the name of the tag, along with any XML attributes which the tag has
  print( child.tag, child.attrib )

book {'id': '13585350'}
book {'id': '124205572'}
book {'id': '127360065'}
book {'id': '13908800'}
book {'id': '123734934'}
book {'id': '13603020'}
book {'id': '124173974'}
book {'id': '123102859'}

We can also query to find tags with specific names, such as '<book>' and then in turn find child nodes of that tag with a specific name.

In [ ]:
for book in xroot.findall("book"):
  # get the text inside a <title> tag, contained within a <book> tag
  title = book.find("title").text
  print(title)

The World Treasury of Science Fiction
The War of the Worlds
Under the Dome: A Novel
The Ultimate Hitchhiker's Guide to the Galaxy
The Time Traveler's Wife
Salem's Lot
Republic
The Road

We can parse xml to Pandas dataframes, which is ready to analyse.

In [ ]:
df_cols = ["id", "title", "ISBN", "year", "rating", "language"]
df = pd.DataFrame(columns = df_cols)

for node in xroot:
  s_id = node.attrib.get("id")
  s_title = node.find("title").text
  s_isbn = node.find("ISBN").text
  s_year = node.find("year").text
  s_rating = node.find("rating").text
  s_language = node.find("language").text

  #print("%s\t%s\t%s\t%s\t%s\t%s " % (s_id, s_title, s_isbn, s_year, s_rating, s_language))
  df = df.append(pd.Series([s_id, s_title, s_isbn, s_year, s_rating, s_language],
                              index = df_cols),
                              ignore_index=True)

df

,id,title,ISBN,year,rating,language
0,13585350,The World Treasury of Science Fiction,None,1989,3,eng
1,124205572,The War of the Worlds,1936594056,2013,4,eng
2,127360065,Under the Dome: A Novel,1439149038,2013,2,eng
3,13908800,The Ultimate Hitchhiker's Guide to the Galaxy,0345453743,2002,5,eng
4,123734934,The Time Traveler's Wife,1476764832,2014,5,eng
5,13603020,Salem's Lot,0451098277,1976,3,eng
6,124173974,Republic,039395501X,1985,3,eng
7,123102859,The Road,0307387895,2006,5,eng

## Working with HTML

[HyperText Markup Language (HTML)](https://en.wikipedia.org/wiki/HTML) is a language that web pages are created in. HTML isn’t a programming language, like Python — instead, it’s a markup language that tells a browser how to layout content. HTML allows you to do similar things to what you do in a word processor like Microsoft Word — make text bold, create paragraphs, and so on. Because HTML isn’t a programming language, it isn’t nearly as complex as Python.

The built-in Python urllib.request module has functions which help in downloading content from HTTP URLs using minimal code:

In [ ]:
import urllib.request
link = "https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/sample_web/sample.html"
response = urllib.request.urlopen(link)
html = response.read().decode()

We can simple use the for-loop to read the html file line by line to see its structure.

In [ ]:
lines = html.strip().split("\n")
for l in lines:
  print(l)

<html>
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title> KMITL Faculty/College</title>
  <link href="./css/sample.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="topbar">
    <div id="top-logo2f">
      <img src="http://kmitl.ac.th/frontend/images/logo.png" alt="">
    </div>
    <div id="top-text2f">
      <h1>King Mongkut's Institute of Technology Ladkrabang</h1>
    </div>
  </div>

  <div id="main" style="margin: 20px;">
    <h1>Faculty/College in KMITL</h1>
    <div id="content">
        <h3><a href="http://www.ceir.kmitl.ac.th">College of Educational Innovation Research</a></h3>
        <h3><a href="http://www.music-engineering.kmitl.ac.th/">Institute of Music Science and Engineering</a></h3>
        <h3><a href="http://www.kosen.kmitl.ac.th/">KOSEN-KMITL</a></h3>
        <h3><a href="http://www.chumphon.kmitl.ac.th">KMITL Prince of Chumphon Campus </a></h3>
        <h3><a href="http://engineer.kmitl.ac.th/">Faculty of Engineering</a></h3>
        <h3><a href="http://www.arch.kmitl.ac.th/">Faculty of Architecture</a></h3>
        <h3><a href="http://www.science.kmitl.ac.th/main.php">Faculty of Science</a></h3>
        <h3><a href="http://www.ietech.kmitl.ac.th">Faculty of Industrial Education and Technology</a></h3>
        <h3><a href="http://www.agri.kmitl.ac.th/AgriTH/">Faculty of Agricultural Technology</a></h3>
        <h3><a href="http://www.it.kmitl.ac.th/">Faculty of Information Technology</a></h3>
        <h3><a href="http://www.agroind.kmitl.ac.th/th/home-agro">Faculty of Agro-Industry</a></h3>
        <h3><a href="http://www.fam.kmitl.ac.th/">Faculty of Administration and Management</a></h3>
        <h3><a href="http://fla.kmitl.ac.th/th/">Faculty of Liberal Arts</a></h3>
        <h3><a href="http://www.ic.kmitl.ac.th/index.php">International College</a></h3>
        <h3><a href="http://www.nano.kmitl.ac.th/index.php">College of Nanotechnology</a></h3>
        <h3><a href="http://www.ami.kmitl.ac.th/">College of Advanced Manufacturing Innovation</a></h3>
        <h3><a href="http://md.kmitl.ac.th/">Faculty of Medicine</a></h3>
        <h3><a href="http://aviation.kmitl.ac.th">International Academy of Aviation Industry</a></h3>
        <h3><a href="http://www.kmids.ac.th/en/">King Mongkut's International Demonstration School</a></h3>
    </div>
  </div>
</body>
</html>

### The requests library

The first thing we’ll need to do to scrape a web page is to download the page. We can download pages using the Python [requests](https://2.python-requests.org//en/master/) library. The requests library will make a `GET` request to a web server, which will download the HTML contents of a given web page for us. There are several different types of `requests` we can make using requests, of which `GET` is just one. If you want to learn more, check out this tutorial for using [API](https://www.dataquest.io/blog/python-api-tutorial/) requests in Python.

Let’s try downloading a simple sample website, [https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week4/sample_web/sample.html](https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week4/sample_web/sample.html). We’ll need to first download it using the requests.get method.

In [ ]:
import requests
page = requests.get("https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/sample_web/sample.html")
page

After running our request, we get a [Response](https://2.python-requests.org//en/master/user/quickstart/#response-content) object. This object has a `status_code` property, which indicates if the page was downloaded successfully:

In [ ]:
page.status_code

200

A `status_code` of `200` means that the page downloaded successfully. We won’t fully dive into status codes here, but a status code starting with a `2` generally indicates success, and a code starting with a `4` or a `5` indicates an error.

We can print out the HTML content of the page using the content property:

In [ ]:
page.content

b'<html>\n  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n  <title> KMITL Faculty/College</title>\n  <link href="./css/sample.css" rel="stylesheet" type="text/css">\n</head>\n<body>\n  <div class="topbar">\n    <div id="top-logo2f">\n      <img src="http://kmitl.ac.th/frontend/images/logo.png" alt="">\n    </div>\n    <div id="top-text2f">\n      <h1>King Mongkut\'s Institute of Technology Ladkrabang</h1>\n    </div>\n  </div>\n\n  <div id="main" style="margin: 20px;">\n    <h1>Faculty/College in KMITL</h1>\n    <div id="content">\n        <h3><a href="http://www.ceir.kmitl.ac.th">College of Educational Innovation Research</a></h3>\n        <h3><a href="http://www.music-engineering.kmitl.ac.th/">Institute of Music Science and Engineering</a></h3>\n        <h3><a href="http://www.kosen.kmitl.ac.th/">KOSEN-KMITL</a></h3>\n        <h3><a href="http://www.chumphon.kmitl.ac.th">KMITL Prince of Chumphon Campus </a></h3>\n        <h3><a href="http://engineer.kmitl.ac.th/">Faculty of Engineering</a></h3>\n        <h3><a href="http://www.arch.kmitl.ac.th/">Faculty of Architecture</a></h3>\n        <h3><a href="http://www.science.kmitl.ac.th/main.php">Faculty of Science</a></h3>\n        <h3><a href="http://www.ietech.kmitl.ac.th">Faculty of Industrial Education and Technology</a></h3>\n        <h3><a href="http://www.agri.kmitl.ac.th/AgriTH/">Faculty of Agricultural Technology</a></h3>\n        <h3><a href="http://www.it.kmitl.ac.th/">Faculty of Information Technology</a></h3>\n        <h3><a href="http://www.agroind.kmitl.ac.th/th/home-agro">Faculty of Agro-Industry</a></h3>\n        <h3><a href="http://www.fam.kmitl.ac.th/">Faculty of Administration and Management</a></h3>\n        <h3><a href="http://fla.kmitl.ac.th/th/">Faculty of Liberal Arts</a></h3>\n        <h3><a href="http://www.ic.kmitl.ac.th/index.php">International College</a></h3>\n        <h3><a href="http://www.nano.kmitl.ac.th/index.php">College of Nanotechnology</a></h3>\n        <h3><a href="http://www.ami.kmitl.ac.th/">College of Advanced Manufacturing Innovation</a></h3>\n        <h3><a href="http://md.kmitl.ac.th/">Faculty of Medicine</a></h3>\n        <h3><a href="http://aviation.kmitl.ac.th">International Academy of Aviation Industry</a></h3>\n        <h3><a href="http://www.kmids.ac.th/en/">King Mongkut\'s International Demonstration School</a></h3>\n    </div>\n  </div>\n</body>\n</html>'

## Parsing a page with BeautifulSoup

As you can see above, we now have downloaded an HTML document.

We can use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/) library to parse this document, and extract the text from the `h3` tag. We first have to import the library, and create an instance of the `BeautifulSoup` class to parse our document:

### Parser in Beautiful Soup
Beautiful Soup supports many parsers, e.g.

**html.parser** - `BeautifulSoup(markup, "html.parser")`

- Advantages: Batteries included, Decent speed, Lenient (as of Python 2.7.3 and 3.2.)

- Disadvantages: Not very lenient (before Python 2.7.3 or 3.2.2)

**lxml** - `BeautifulSoup(markup, "lxml")`

- Advantages: Very fast, Lenient

- Disadvantages: External C dependency

**html5lib** - `BeautifulSoup(markup, "html5lib")`

- Advantages: Extremely lenient, Parses pages the same way a web browser does, Creates valid HTML5

- Disadvantages: Very slow, External Python dependency

### Example 1 - parsing html from an simple page from my website
Extract all contents within tag `<h3>`

In [ ]:
!pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
import bs4
soup = bs4.BeautifulSoup(page.content, 'html.parser')

for match in soup.find_all("h3"):
  text = match
  print(text)

<h3><a href="http://www.ceir.kmitl.ac.th">College of Educational Innovation Research</a></h3>
<h3><a href="http://www.music-engineering.kmitl.ac.th/">Institute of Music Science and Engineering</a></h3>
<h3><a href="http://www.kosen.kmitl.ac.th/">KOSEN-KMITL</a></h3>
<h3><a href="http://www.chumphon.kmitl.ac.th">KMITL Prince of Chumphon Campus </a></h3>
<h3><a href="http://engineer.kmitl.ac.th/">Faculty of Engineering</a></h3>
<h3><a href="http://www.arch.kmitl.ac.th/">Faculty of Architecture</a></h3>
<h3><a href="http://www.science.kmitl.ac.th/main.php">Faculty of Science</a></h3>
<h3><a href="http://www.ietech.kmitl.ac.th">Faculty of Industrial Education and Technology</a></h3>
<h3><a href="http://www.agri.kmitl.ac.th/AgriTH/">Faculty of Agricultural Technology</a></h3>
<h3><a href="http://www.it.kmitl.ac.th/">Faculty of Information Technology</a></h3>
<h3><a href="http://www.agroind.kmitl.ac.th/th/home-agro">Faculty of Agro-Industry</a></h3>
<h3><a href="http://www.fam.kmitl.ac.th/">Faculty of Administration and Management</a></h3>
<h3><a href="http://fla.kmitl.ac.th/th/">Faculty of Liberal Arts</a></h3>
<h3><a href="http://www.ic.kmitl.ac.th/index.php">International College</a></h3>
<h3><a href="http://www.nano.kmitl.ac.th/index.php">College of Nanotechnology</a></h3>
<h3><a href="http://www.ami.kmitl.ac.th/">College of Advanced Manufacturing Innovation</a></h3>
<h3><a href="http://md.kmitl.ac.th/">Faculty of Medicine</a></h3>
<h3><a href="http://aviation.kmitl.ac.th">International Academy of Aviation Industry</a></h3>
<h3><a href="http://www.kmids.ac.th/en/">King Mongkut's International Demonstration School</a></h3>

### Example 2 - extract content from all divs in a kmitl history page
Extract all contents within tag `<div>`

In [ ]:
url = 'http://www.kmitl.ac.th/en/detail/2016-12-21-22-32-22'
page = requests.get(url)
page

# Consise our code by import BeautifulSoup without necessarily calling bs4 again
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, "html5lib")
soup.title

In [ ]:
print(soup.prettify())

<!DOCTYPE html>
<html dir="ltr" lang="en" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
 <head>
  <meta charset="utf-8"/>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-41909381-25">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag("js", new Date());gtag("config", "UA-41909381-25", {"groups":"default","anonymize_ip":true,"page_path":"/404.html?page=" + document.location.pathname + document.location.search + "&from=" + document.referrer});
  </script>
  <link href="https://www.kmitl.ac.th/" rel="canonical"/>
  <link href="https://www.kmitl.ac.th/" rel="shortlink"/>
  <meta content="Drupal 9 (https://www.drupal.org)" name="Generator"/>
  <meta content="width" name="MobileOptimized"/>
  <meta content="true" name="HandheldFriendly"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <style>
   div#sliding-popup, div#sliding-popup .eu-cookie-withdraw-banner, .eu-cookie-withdraw-tab {background: #212529} div#sliding-popup.eu-cookie-withdraw-wrapper { background: transparent; } #sliding-popup h1, #sliding-popup h2, #sliding-popup h3, #sliding-popup p, #sliding-popup label, #sliding-popup div, .eu-cookie-compliance-more-button, .eu-cookie-compliance-secondary-button, .eu-cookie-withdraw-tab { color: #ffffff;} .eu-cookie-withdraw-tab { border-color: #ffffff;}
  </style>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <link href="/themes/custom/kmitl/favicon.ico" rel="icon" type="image/vnd.microsoft.icon"/>
  <script>
   window.a2a_config=window.a2a_config||{};a2a_config.callbacks=[];a2a_config.overlays=[];a2a_config.templates={};
  </script>
  <title>
   Page not found | สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
  </title>
  <link href="/sites/default/files/css/css_duwwl69O1Vbia3GvRWSE4zYStVDD0hveyp2ysSntaCw.css" media="all" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" media="all" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.13.1/css/v4-shims.css" media="all" rel="stylesheet"/>
  <link href="/sites/default/files/css/css_jimT_TBYXR7dPespHQy3u0mnGVjo5PeYw-1x43Rnp7o.css" media="all" rel="stylesheet"/>
  <link href="/sites/default/files/css/css_T4hWofJttUyBIplqn5DuLm7BZuaIMFhO5PPj8WYHk2M.css" media="all" rel="stylesheet"/>
  <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" media="all" rel="stylesheet"/>
  <link href="/sites/default/files/css/css_stf7p9vTrs4JEag7sYzONZdSEKueMYub78LoX4kWEg4.css" media="all" rel="stylesheet"/>
  <link href="/sites/default/files/css/css_Y4H_4BqmgyCtG7E7YdseTs2qvy9C34c51kBamDdgark.css" media="print" rel="stylesheet"/>
 </head>
 <body class="layout-no-sidebars path-en">
  <a class="visually-hidden focusable skip-link" href="#main-content">
   Skip to main content
  </a>
  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
   <div id="page-wrapper">
    <div id="page">
     <header aria-label="Site header" class="header" id="header" role="banner">
      <nav class="navbar navbar-expand-lg" id="navbar-top">
       <div class="container">
        <section class="region region-top-header">
         <div class="kmitl-branding">
          <a class="navbar-brand" href="/" rel="home" title="Home">
           <span class="site-logo">
            <img alt="Home" class="kmitl-logo" src="/themes/custom/kmitl/logo.svg"/>
           </span>
           <div>
            <div class="kmitl-site_name">
             สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
            </div>
            <div class="kmitl-site_name-mobile">
             kmitl
            </div>
            <div class="kmitl-site_slogan site-name-slogan">
             King Mongkut's Institute of Technology Ladkrabang
            </div>
           </div>
          </a>
         </div>
         <div class="language-switcher-language-url block block-language block-language-blocklanguage-interface" id="block-languageswitcher" role="navigation">
          <div class="content">
           <nav class="links nav links-inline">
            <span class="en nav-link" data-drupal-link-query='{"_exception_statuscode":404,"destination":"\/"}' data-drupal-link-system-path="system/404" hreflang="en">
             <a class="language-link" data-drupal-link-query='{"_exception_statuscode":404,"destination":"\/"}' data-drupal-link-system-path="system/404" href="/system/404?destination=/&amp;_exception_statuscode=404" hreflang="en">
              EN
             </a>
            </span>
            <span class="th nav-link" data-drupal-link-query='{"_exception_statuscode":404,"destination":"\/"}' data-drupal-link-system-path="system/404" hreflang="th">
             <a class="language-link" data-drupal-link-query='{"_exception_statuscode":404,"destination":"\/"}' data-drupal-link-system-path="system/404" href="/th/system/404?destination=/&amp;_exception_statuscode=404" hreflang="th">
              TH
             </a>
            </span>
           </nav>
          </div>
         </div>
        </section>
       </div>
      </nav>
      <nav class="navbar navbar-expand-lg" id="navbar-main">
       <div class="container-lg">
        <button aria-controls="navbar-collapsible" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right collapsed" data-bs-target="#navbar-collapsible" data-bs-toggle="collapse" type="button">
         <i class="fas fa-bars">
         </i>
        </button>
        <div class="navbar-collapse collapse justify-content-between" id="navbar-collapsible">
         <nav aria-labelledby="block-mainnavigation-2-menu" class="block block-menu navigation menu--main" id="block-mainnavigation-2" role="navigation">
          <h2 class="visually-hidden" id="block-mainnavigation-2-menu">
           Main navigation
          </h2>
          <ul class="clearfix nav navbar-nav">
           <li class="nav-item">
            <a class="nav-link nav-link--" data-drupal-link-system-path="&lt;front&gt;" href="/">
             Home
            </a>
           </li>
           <li class="nav-item menu-item--expanded dropdown">
            <span aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle nav-link-" data-bs-toggle="dropdown">
             Information for
            </span>
            <ul class="dropdown-menu">
             <li class="dropdown-item">
              <a class="nav-link--prospective-students" data-drupal-link-system-path="node/691" href="/prospective-students">
               Prospective students
              </a>
             </li>
             <li class="dropdown-item">
              <a class="nav-link--current-students" data-drupal-link-system-path="node/565" href="/current-students">
               Current students
              </a>
             </li>
             <li class="dropdown-item menu-item--expanded dropdown">
              <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link-" data-bs-toggle="dropdown">
               Staffs
              </span>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a class="nav-link-https--wwwitrectorkmitlacth-salary-" href="https://www.itrector.kmitl.ac.th/salary/">
                 Salary and Payment Records
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--financialkmitlacth-" href="http://financial.kmitl.ac.th/">
                 3-D Acquirable-Payable Account
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--wwwitrectorkmitlacth-kmitl-personnel-indexphp" href="https://www.itrector.kmitl.ac.th/KMITL_Personnel/index.php">
                 Staff’s Information System
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--wwwitrectorkmitlacth-vehicle-" href="https://www.itrector.kmitl.ac.th/vehicle/">
                 Car Reservation System
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--wwwitrectorkmitlacth-meeting-room-" href="https://www.itrector.kmitl.ac.th/meeting_room/">
                 Request Meeting
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--wwwitrectorkmitlacth-repair" href="https://www.itrector.kmitl.ac.th/repair">
                 Computer Repair online Service
                </a>
               </li>
              </ul>
             </li>
            </ul>
           </li>
           <li class="nav-item menu-item--expanded dropdown">
            <span aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle nav-link-" data-bs-toggle="dropdown">
             Research
            </span>
            <ul class="dropdown-menu">
             <li class="dropdown-item">
              <a class="nav-link-http--kriskmitlacth-indexphp" href="http://kris.kmitl.ac.th/index.php">
               Research
              </a>
             </li>
             <li class="dropdown-item">
              <a class="nav-link-http--rspgkmitlacth-" href="http://rspg.kmitl.ac.th/">
               RSPG-KMITL
              </a>
             </li>
            </ul>
           </li>
           <li class="nav-item menu-item--expanded dropdown">
            <span aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle nav-link-" data-bs-toggle="dropdown">
             News &amp; Activities
            </span>
            <ul class="dropdown-menu">
             <li class="dropdown-item">
              <a class="nav-link--content-all" data-drupal-link-system-path="content/all" href="/content/all">
               KMITL News
              </a>
             </li>
             <li class="dropdown-item">
              <a class="nav-link--procurement" data-drupal-link-system-path="procurement" href="/procurement">
               Procurement
              </a>
             </li>
             <li class="dropdown-item">
              <a class="nav-link-https--wwwkmitlacth-content-allcat40keywords" href="https://www.kmitl.ac.th/content/all?cat=40&amp;keywords=">
               Press Release
              </a>
             </li>
             <li class="dropdown-item">
              <a class="nav-link-http--wwwhrkmitlacth-" href="http://www.hr.kmitl.ac.th/">
               Apply  job News
              </a>
             </li>
             <li class="dropdown-item">
              <a class="nav-link-https--wwwtci-thaijoorg-indexphp-cast" href="https://www.tci-thaijo.org/index.php/cast">
               Current Applied  Science and Technology
              </a>
             </li>
             <li class="dropdown-item">
              <a class="nav-link-http--jmsrkmitlacth-2018-" href="http://jmsr.kmitl.ac.th/2018/">
               Journal of Multidisciplinary Social Research
              </a>
             </li>
            </ul>
           </li>
           <li class="nav-item menu-item--expanded dropdown">
            <span aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle nav-link-" data-bs-toggle="dropdown" title="Faculties and Offices in KMITL">
             Academic Divisions and Offices
            </span>
            <ul class="dropdown-menu">
             <li class="dropdown-item menu-item--expanded dropdown">
              <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link-" data-bs-toggle="dropdown">
               Campus
              </span>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a class="nav-link-http--wwwpcckmitlacth-" href="http://www.pcc.kmitl.ac.th/">
                 KMITL Prince of Chumphon Campus
                </a>
               </li>
              </ul>
             </li>
             <li class="dropdown-item menu-item--expanded dropdown">
              <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link-" data-bs-toggle="dropdown">
               College
              </span>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a class="nav-link-http--wwwnanokmitlacth-" href="http://www.nano.kmitl.ac.th/">
                 College of  Materials Innovation and Technology
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwamikmitlacth-" href="http://www.ami.kmitl.ac.th/">
                 College of Advanced Manufacturing Innovation
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwceirkmitlacth-" href="http://www.ceir.kmitl.ac.th/">
                 College of Innovation and Industrial Management
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--aviationkmitlacth-" href="http://aviation.kmitl.ac.th/">
                 International Academy of Aviation Industry
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--imsekmitlacth-th-" href="http://imse.kmitl.ac.th/th/">
                 Institute of Music Science and Engineering
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwkmidsacth-en-" href="http://www.kmids.ac.th/en/">
                 King Mongkut's International Demonstration School
                </a>
               </li>
              </ul>
             </li>
             <li class="dropdown-item menu-item--expanded dropdown">
              <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link-" data-bs-toggle="dropdown">
               Faculties and Schools
              </span>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a class="nav-link-https--engineerkmitlacth-" href="https://engineer.kmitl.ac.th/">
                 School of Engineering
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwarchkmitlacth-" href="http://www.arch.kmitl.ac.th/">
                 School of Architecture, Art and Design
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwsciencekmitlacth-mainphp" href="http://www.science.kmitl.ac.th/main.php">
                 School of Science
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--sietkmitlacth" href="http://siet.kmitl.ac.th">
                 School of Industrial Education and Technology
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwagrikmitlacth-agrith-" href="http://www.agri.kmitl.ac.th/AgriTH/">
                 School of Agricultural Technology
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwitkmitlacth-" href="http://www.it.kmitl.ac.th/">
                 Faculty of Information Technology
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--foodindustrykmitlacth-" href="http://foodindustry.kmitl.ac.th/">
                 School of Food Industry
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwkbskmitlacth-home" href="http://www.kbs.kmitl.ac.th/home">
                 KMITL Business School
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--lakmitlacth-" href="https://la.kmitl.ac.th/">
                 Faculty of Liberal Arts
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--mdkmitlacth-" href="http://md.kmitl.ac.th/">
                 Faculty of Medicine
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--dentkmitlacth-" href="https://dent.kmitl.ac.th/">
                 School of Dentistry
                </a>
               </li>
              </ul>
             </li>
             <li class="dropdown-item menu-item--expanded dropdown">
              <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link-" data-bs-toggle="dropdown">
               Partners
              </span>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a class="nav-link-https--wwwglaacuk-" href="https://www.gla.ac.uk/">
                 University of Glasgow
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-http--wwwkosenkmitlacth-" href="http://www.kosen.kmitl.ac.th/">
                 KOSEN-KMITL
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--wwwcmklacth-" href="https://www.cmkl.ac.th/">
                 CMKL University
                </a>
               </li>
               <li class="dropdown-item">
                <a class="nav-link-https--www42bangkokcom-" href="https://www.42bangkok.com/">
                 42 Bangkok KMITL
                </a>
               </li>
              </ul>
             </li>
             <li class="dropdown-item menu-item--expanded dropdown">
              <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link-" data-bs-toggle="dropdown">
               Offices
              </span>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a class="nav-link-http--councilkmitlacth-council2018-" href="http://council.kmitl.ac.th/council2018/">
                 Council Institute
                </a>
               </li>
               <li class="dropdown-item menu-item--expanded dropdown">
                <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link-" data-bs-toggle="dropdown">
                 Office of the President
                </span>
                <ul class="dropdown-menu">
                 <li class="dropdown-item">
                  <a class="nav-link-http--wwwprkmitlacth-" href="http://www.pr.kmitl.ac.th/">
                   General Administration and Corporate Communications Division
                  </a>
                 </li>
                 <li class="dropdown-item">
                  <a class="nav-link-http--hrkmitlacth-" href="http://hr.kmitl.ac.th/">
                   Human Resource Management Office
                  </a>
                 </li>
                 <li class="dropdown-item">
                  <a class="nav-link-https--officekmitlacth-finance-" href="https://office.kmitl.ac.th/finance/">
                   Finance  Office
                  </a>
                 </li>
                 <li class="dropdown-item">
                  <a class="nav-link-https--wwwprocurekmitlacth-" href="https://www.procure.kmitl.ac.th/">
                   Supplies Division
                  </a>
                 </li>
                 <li class="dropdown-item">

In [ ]:
contentDivs = soup.findAll("div", {"class": "pbox"})
contentDivs

[]

In [ ]:
i = 1
texts = []
for contentDiv in contentDivs:
  text = contentDiv.text.strip()
  if len(text) > 0:
    print("---  %d ------" % i)
    texts.append(text)
    print(text)
    i += 1

## Working with APIs

### Example 1 - Wikipedia

As a simple example of using an Online API, we will retrieve JSON data from the Wikipedia web API. The Wikipedia page for 'KMITL' is [here](https://en.wikipedia.org/wiki/King_Mongkut%27s_Institute_of_Technology_Ladkrabang). We can retrieve this data in a cleaner JSON format from the Wikipedia API endpoint (https://en.wikipedia.org/w/api.php).

In [ ]:
title = "King_Mongkut%27s_Institute_of_Technology_Ladkrabang"
url = "https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro=true&titles=" + title
print(url)

https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro=true&titles=King_Mongkut%27s_Institute_of_Technology_Ladkrabang

In [ ]:
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")

Once we have downloaded the JSON data into a string, we parse it using the *loads()* function, which will convert it into an actual Python dictionary.

In [ ]:
data = json.loads(raw_json)
data

{'batchcomplete': '',
 'warnings': {'extracts': {'*': 'HTML may be malformed and/or unbalanced and may omit inline images. Use at your own risk. Known problems are listed at https://www.mediawiki.org/wiki/Special:MyLanguage/Extension:TextExtracts#Caveats.'}},
 'query': {'normalized': [{'from': "King_Mongkut's_Institute_of_Technology_Ladkrabang",
    'to': "King Mongkut's Institute of Technology Ladkrabang"}],
  'pages': {'1232312': {'pageid': 1232312,
    'ns': 0,
    'title': "King Mongkut's Institute of Technology Ladkrabang",
    'extract': "<p><b>King Mongkut's Institute of Technology Ladkrabang</b> (<b>KMITL</b> or <b>KMIT Ladkrabang</b> for short) is a research and educational institution in Thailand. It is situated in Lat Krabang District, Bangkok approximately 30\xa0km east of the city center.  The university consists of nine faculties: engineering, architecture, science, industrial education and technology, agricultural technology, information technology, food industry, liberal arts, and medicine.\n</p>"}}}}

The response still needs to be inspected. Note that the results we want are are in *data["query"]["pages"]*:

In [ ]:
print(data["query"]["pages"])

{'1232312': {'pageid': 1232312, 'ns': 0, 'title': "King Mongkut's Institute of Technology Ladkrabang", 'extract': "<p><b>King Mongkut's Institute of Technology Ladkrabang</b> (<b>KMITL</b> or <b>KMIT Ladkrabang</b> for short) is a research and educational institution in Thailand. It is situated in Lat Krabang District, Bangkok approximately 30\xa0km east of the city center.  The university consists of nine faculties: engineering, architecture, science, industrial education and technology, agricultural technology, information technology, food industry, liberal arts, and medicine.\n</p>"}}

In [ ]:
result = data["query"]["pages"]["1232312"]
print(result["title"])
print(result["extract"])

King Mongkut's Institute of Technology Ladkrabang
<p><b>King Mongkut's Institute of Technology Ladkrabang</b> (<b>KMITL</b> or <b>KMIT Ladkrabang</b> for short) is a research and educational institution in Thailand. It is situated in Lat Krabang District, Bangkok approximately 30 km east of the city center.  The university consists of nine faculties: engineering, architecture, science, industrial education and technology, agricultural technology, information technology, food industry, liberal arts, and medicine.
</p>

### Example 2 - Currency Exchange Rates

In the next example, we will use the *Fixer.io* API to get currency exchange rate information: http://fixer.io

For API documentation: https://fixer.io/documentation

To retrieve all rates in EUROs, we retrieve the following:

In [ ]:
ACCESS_KEY = "0c9904dea3d2c46b78686bc16bbba722"

In [ ]:
url = "http://data.fixer.io/api/latest?access_key=" + ACCESS_KEY
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")
print(raw_json)

{"success":true,"timestamp":1661484846,"base":"EUR","date":"2022-08-26","rates":{"AED":3.662765,"AFN":88.283541,"ALL":116.825255,"AMD":403.280144,"ANG":1.799996,"AOA":428.019767,"ARS":137.007037,"AUD":1.431896,"AWG":1.799987,"AZN":1.697724,"BAM":1.957239,"BBD":2.016572,"BDT":94.906107,"BGN":1.954996,"BHD":0.376022,"BIF":2059.742466,"BMD":0.997223,"BND":1.388299,"BOB":6.901194,"BRL":5.096106,"BSD":0.998729,"BTC":4.623666e-5,"BTN":79.73649,"BWP":12.739369,"BYN":2.520902,"BYR":19545.5656,"BZD":2.013139,"CAD":1.291249,"CDF":2014.389342,"CHF":0.961263,"CLF":0.032472,"CLP":896.007449,"CNY":6.835364,"COP":4381.726891,"CRC":633.976294,"CUC":0.997223,"CUP":26.426402,"CVE":110.34165,"CZK":24.658926,"DJF":177.799751,"DKK":7.437666,"DOP":53.088209,"DZD":140.69244,"EGP":19.140861,"ERN":14.958341,"ETB":52.684719,"EUR":1,"FJD":2.196084,"FKP":0.821318,"GBP":0.843132,"GEL":2.83709,"GGP":0.821318,"GHS":9.912386,"GIP":0.821318,"GMD":54.147238,"GNF":8617.20209,"GTQ":7.727668,"GYD":208.945147,"HKD":7.823985,"HNL":24.570684,"HRK":7.511678,"HTG":126.341933,"HUF":411.583933,"IDR":14760.741335,"ILS":3.260425,"IMP":0.821318,"INR":79.614324,"IQD":1457.66182,"IRR":42182.521962,"ISK":140.249021,"JEP":0.821318,"JMD":150.73649,"JOD":0.707012,"JPY":136.32085,"KES":119.746464,"KGS":80.157767,"KHR":4098.85008,"KMF":492.777785,"KPW":897.50081,"KRW":1327.842326,"KWD":0.306946,"KYD":0.832295,"KZT":465.662818,"LAK":15261.807914,"LBP":1510.079283,"LKR":364.552453,"LRD":153.223011,"LSL":16.923453,"LTL":2.94454,"LVL":0.60321,"LYD":4.924494,"MAD":10.540022,"MDL":19.33572,"MGA":4201.744136,"MKD":61.659069,"MMK":2097.393797,"MNT":3186.088307,"MOP":8.071869,"MRO":356.008345,"MUR":44.032549,"MVR":15.317054,"MWK":1027.862787,"MXN":19.887633,"MYR":4.461877,"MZN":63.652797,"NAD":16.838095,"NGN":420.718199,"NIO":35.894835,"NOK":9.639145,"NPR":127.579823,"NZD":1.607299,"OMR":0.383952,"PAB":0.998704,"PEN":3.864481,"PGK":3.519833,"PHP":55.885862,"PKR":219.227584,"PLN":4.741897,"PYG":6849.598573,"QAR":3.630932,"RON":4.871729,"RSD":117.328289,"RUB":59.858312,"RWF":1030.251507,"SAR":3.746725,"SBD":8.221267,"SCR":13.280017,"SDG":576.394823,"SEK":10.564368,"SGD":1.386274,"SHP":1.373573,"SLL":14035.909727,"SOS":567.925027,"SRD":24.552121,"STD":20640.497223,"SVC":8.739246,"SYP":2505.552407,"SZL":16.816572,"THB":35.760147,"TJS":10.167065,"TMT":3.500252,"TND":3.186627,"TOP":2.345717,"TRY":18.130809,"TTD":6.782448,"TWD":30.121614,"TZS":2324.525944,"UAH":36.887449,"UGX":3787.130783,"USD":0.997223,"UYU":40.333423,"UZS":10901.941832,"VND":23348.474499,"VUV":115.73376,"WST":2.660052,"XAF":656.429454,"XAG":0.05177,"XAU":0.000568,"XCD":2.695044,"XDR":0.766952,"XOF":656.436042,"XPF":119.964625,"YER":249.554819,"ZAR":16.723585,"ZMK":8976.202015,"ZMW":16.124725,"ZWL":321.105314}}

Parse the JSON data

In [ ]:
data = json.loads(raw_json)
# List all the rates
data

{'success': True,
 'timestamp': 1661484846,
 'base': 'EUR',
 'date': '2022-08-26',
 'rates': {'AED': 3.662765,
  'AFN': 88.283541,
  'ALL': 116.825255,
  'AMD': 403.280144,
  'ANG': 1.799996,
  'AOA': 428.019767,
  'ARS': 137.007037,
  'AUD': 1.431896,
  'AWG': 1.799987,
  'AZN': 1.697724,
  'BAM': 1.957239,
  'BBD': 2.016572,
  'BDT': 94.906107,
  'BGN': 1.954996,
  'BHD': 0.376022,
  'BIF': 2059.742466,
  'BMD': 0.997223,
  'BND': 1.388299,
  'BOB': 6.901194,
  'BRL': 5.096106,
  'BSD': 0.998729,
  'BTC': 4.623666e-05,
  'BTN': 79.73649,
  'BWP': 12.739369,
  'BYN': 2.520902,
  'BYR': 19545.5656,
  'BZD': 2.013139,
  'CAD': 1.291249,
  'CDF': 2014.389342,
  'CHF': 0.961263,
  'CLF': 0.032472,
  'CLP': 896.007449,
  'CNY': 6.835364,
  'COP': 4381.726891,
  'CRC': 633.976294,
  'CUC': 0.997223,
  'CUP': 26.426402,
  'CVE': 110.34165,
  'CZK': 24.658926,
  'DJF': 177.799751,
  'DKK': 7.437666,
  'DOP': 53.088209,
  'DZD': 140.69244,
  'EGP': 19.140861,
  'ERN': 14.958341,
  'ETB': 52.684719,
  'EUR': 1,
  'FJD': 2.196084,
  'FKP': 0.821318,
  'GBP': 0.843132,
  'GEL': 2.83709,
  'GGP': 0.821318,
  'GHS': 9.912386,
  'GIP': 0.821318,
  'GMD': 54.147238,
  'GNF': 8617.20209,
  'GTQ': 7.727668,
  'GYD': 208.945147,
  'HKD': 7.823985,
  'HNL': 24.570684,
  'HRK': 7.511678,
  'HTG': 126.341933,
  'HUF': 411.583933,
  'IDR': 14760.741335,
  'ILS': 3.260425,
  'IMP': 0.821318,
  'INR': 79.614324,
  'IQD': 1457.66182,
  'IRR': 42182.521962,
  'ISK': 140.249021,
  'JEP': 0.821318,
  'JMD': 150.73649,
  'JOD': 0.707012,
  'JPY': 136.32085,
  'KES': 119.746464,
  'KGS': 80.157767,
  'KHR': 4098.85008,
  'KMF': 492.777785,
  'KPW': 897.50081,
  'KRW': 1327.842326,
  'KWD': 0.306946,
  'KYD': 0.832295,
  'KZT': 465.662818,
  'LAK': 15261.807914,
  'LBP': 1510.079283,
  'LKR': 364.552453,
  'LRD': 153.223011,
  'LSL': 16.923453,
  'LTL': 2.94454,
  'LVL': 0.60321,
  'LYD': 4.924494,
  'MAD': 10.540022,
  'MDL': 19.33572,
  'MGA': 4201.744136,
  'MKD': 61.659069,
  'MMK': 2097.393797,
  'MNT': 3186.088307,
  'MOP': 8.071869,
  'MRO': 356.008345,
  'MUR': 44.032549,
  'MVR': 15.317054,
  'MWK': 1027.862787,
  'MXN': 19.887633,
  'MYR': 4.461877,
  'MZN': 63.652797,
  'NAD': 16.838095,
  'NGN': 420.718199,
  'NIO': 35.894835,
  'NOK': 9.639145,
  'NPR': 127.579823,
  'NZD': 1.607299,
  'OMR': 0.383952,
  'PAB': 0.998704,
  'PEN': 3.864481,
  'PGK': 3.519833,
  'PHP': 55.885862,
  'PKR': 219.227584,
  'PLN': 4.741897,
  'PYG': 6849.598573,
  'QAR': 3.630932,
  'RON': 4.871729,
  'RSD': 117.328289,
  'RUB': 59.858312,
  'RWF': 1030.251507,
  'SAR': 3.746725,
  'SBD': 8.221267,
  'SCR': 13.280017,
  'SDG': 576.394823,
  'SEK': 10.564368,
  'SGD': 1.386274,
  'SHP': 1.373573,
  'SLL': 14035.909727,
  'SOS': 567.925027,
  'SRD': 24.552121,
  'STD': 20640.497223,
  'SVC': 8.739246,
  'SYP': 2505.552407,
  'SZL': 16.816572,
  'THB': 35.760147,
  'TJS': 10.167065,
  'TMT': 3.500252,
  'TND': 3.186627,
  'TOP': 2.345717,
  'TRY': 18.130809,
  'TTD': 6.782448,
  'TWD': 30.121614,
  'TZS': 2324.525944,
  'UAH': 36.887449,
  'UGX': 3787.130783,
  'USD': 0.997223,
  'UYU': 40.333423,
  'UZS': 10901.941832,
  'VND': 23348.474499,
  'VUV': 115.73376,
  'WST': 2.660052,
  'XAF': 656.429454,
  'XAG': 0.05177,
  'XAU': 0.000568,
  'XCD': 2.695044,
  'XDR': 0.766952,
  'XOF': 656.436042,
  'XPF': 119.964625,
  'YER': 249.554819,
  'ZAR': 16.723585,
  'ZMK': 8976.202015,
  'ZMW': 16.124725,
  'ZWL': 321.105314}}

In [ ]:
# Get a specific rate
data["rates"]["CHF"]

0.961263

We can change the URL to get rates for a different currency, such as US Dollars (USD):

In [ ]:
url = "http://data.fixer.io/api/latest?access_key=" + ACCESS_KEY + "&symbols=THB"
print(url)
# Retrieve the JSON
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")
# Parse the JSON
data = json.loads(raw_json)
# Display the rates data for US dollars
data["rates"]

http://data.fixer.io/api/latest?access_key=0c9904dea3d2c46b78686bc16bbba722&symbols=THB

{'THB': 35.762116}

In [ ]:
data

{'success': True,
 'timestamp': 1661488144,
 'base': 'EUR',
 'date': '2022-08-26',
 'rates': {'THB': 35.762116}}

In [ ]:
df = json_normalize(data)
df

   success   timestamp base        date  rates.THB
0     True  1661488144  EUR  2022-08-26  35.762116

### Example 3 - Thairath with Python requests

Content: [https://www.thairath.co.th](https://www.thairath.co.th)

API: [https://api.thairath.co.th](https://api.thairath.co.th)


Here, we will work with the website Thairath that has been created for recording news in Thairath digital newspaper.

#### **Query example**

https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627702200000

1. base_url = ```https://api.thairath.co.th```
2. base_path = ```/v1.1/thairath-online/load-more?path=```
3. category_path = ```business/investment```
4. middle_param = ```&key=latest&ts=```
5. timestamp = ```1627702200000```

#### **what we want to collect here**
* title
* topic
* detail
* date

[Namespace](https://docs.python.org/3/library/argparse.html#argparse.Namespace)

Simple class used by default by parse_args() to create an object holding attributes and return it.

In [ ]:
from argparse import Namespace
args = Namespace()

In [ ]:
args.base_url = 'https://api.thairath.co.th'
args.base_path = '/v1.1/thairath-online/load-more?path='
args.middle_param = '&key=latest&ts='

In [ ]:
args.path = ['business/investment', 'business/economics', 'business/market',
             'business/finance', 'business/feature']

In [ ]:
args.ts = ['1627702200000', '1627694880000', '1627811340000', '1627616820000', '1627613040000']
# args.ts =   ['1661414835000']

In [ ]:
#Test api with only one category and one timestamp
url = f'{args.base_url}{args.base_path}{args.path[0]}{args.middle_param}{args.ts[0]}'
url

'https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627702200000'

In [ ]:
import requests
from pandas import json_normalize

In [ ]:
response = requests.get(url)
data = response.json()
data

{'meta': {'title': 'ข่าวการลงทุน ข่าวหุ้นวันนี้ ตลาดหุ้น ข่าวราคาทอง | ไทยรัฐออนไลน์',
  'description': 'ข่าวการลงทุนไทยรัฐออนไลน์ ข่าวหุ้น ข่าวหุ้นวันนี้ ตลาดหุ้นไทย ข่าวราคาทอง 2565 โดยทีมข่าวเศรษฐกิจมืออาชีพไทยรัฐ',
  'canonical': 'https://www.thairath.co.th/sport/footballprogram/laliga',
  'fullPath': 'business/investment',
  'image': 'https://static.thairath.co.th/media/00_A9B32874C1E1280.jpg'},
 'headers': {'Cache-Control': 'public, max-age=300, must-revalidate'},
 'sectionName': 'business',
 'topicName': 'investment',
 'topicNameTh': 'การลงทุน',
 'fullPath': 'business/investment',
 'lastModified': '2022-08-26T04:41:59.056Z',
 'items': {'contents': [{'id': 2153893,
    '_id': '6104b6e2746a1b661ddbaf62',
    'type': 1,
    'title': 'ราคาทองวันนี้ 31/7/64 ล่าสุด เปิดตลาดเช้าวันเสาร์ ปรับลด 100 บาท',
    'credit': 'ไทยรัฐออนไลน์',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'ราคาทองคำ',
    'topicEn': 'gold',
    'topicPath': 'business/investment/gold',
    'abstract': 'ราคาทองวันนี้ เปิดตลาดเช้าวันเสาร์ ราคาปรับลด 100 โดยราคา "ทองคำแท่ง" ขายออกบาทละ 28,300 ราคา "ทองรูปพรรณ" ขายออกบาทละ 28,800 บาท',
    'content': '',
    'tags': ['ราคาทองวันนี้',
     'ราคาทอง',
     'ราคาทองคำวันนี้',
     'ราคาทองรูปพรรณ',
     'ราคาทองรูปพรรณวันนี้',
     'ราคาทองคำแท่ง',
     'ราคาทองวันนี้ล่าสุด'],
    'publishTs': 1627699440000,
    'publishTime': '2021-07-31T02:44:00.000Z',
    'publishTimeTh': '31 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2153893C1E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2153893C1E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2153893C1E1280.jpg',
    'fullPath': 'business/investment/gold/2153893',
    'canonical': 'https://www.thairath.co.th/business/investment/gold/2153893',
    'premiumType': 'free'},
   {'id': 2153888,
    '_id': '6104ac0c746a1b661dd6dc1f',
    'type': 1,
    'title': 'ราคาทองคำยังพุ่งต่อ YLG มองเทคนิคระยะสั้นสดใส หากผ่าน 28,700 บาท',
    'credit': 'ไทยรัฐออนไลน์',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'ราคาทองคำ',
    'topicEn': 'gold',
    'topicPath': 'business/investment/gold',
    'abstract': 'ราคาทองคำยังพุ่งต่อ รับผลประชุมเฟดที่ยังไม่เร่งขึ้นดอกเบี้ย YLG มองเทคนิคระยะสั้นยังสดใส หากผ่าน 28,700 บาท มีโอกาสไปต่อ แนะซื้อเมื่ออ่อนตัวที่แนวรับ 28,250-28,050 บาท',
    'content': '',
    'tags': ['แนวโน้มราคาทองคำ',
     'ราคาทอง',
     'ราคาทองคำแท่ง',
     'ราคาทองรูปพรรณ',
     'TFEX',
     'Gold Futures',
     'YLG'],
    'publishTs': 1627697700000,
    'publishTime': '2021-07-31T02:15:00.000Z',
    'publishTimeTh': '31 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2153888C1E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2153888C1E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2153888C1E1280.jpg',
    'fullPath': 'business/investment/gold/2153888',
    'canonical': 'https://www.thairath.co.th/business/investment/gold/2153888',
    'premiumType': 'free'},
   {'id': 2153805,
    '_id': '61043c4a746a1b661dacc8ca',
    'type': 2,
    'title': 'เลือกหุ้นปันผลสูง!!',
    'credit': 'อินเด็กซ์ 51',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'หุ้น',
    'topicEn': 'stockexchange',
    'topicPath': 'business/investment/stockexchange',
    'abstract': 'ดัชนีหุ้นไทยวันที่ 30 ก.ค.64 ปิดที่ 1,521.92 จุด ลดลง 15.86 จุด มีมูลค่าการซื้อขาย 87,720.54 ล้านบาท ต่างชาติขายสุทธิ 707.01 ล้านบาท',
    'content': '',
    'tags': ['หุ้นไทย',
     'ตลาดหลักทรัพย์',
     'ตลาดหุ้น',
     'หุ้น',
     'หุ้นไทยวันนี้',
     'หุ้นวันนี้',
     'เงาหุ้น',
     'อินเด็กซ์ 51'],
    'publishTs': 1627682460000,
    'publishTime': '2021-07-30T22:01:00.000Z',
    'publishTimeTh': '30 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2153805C1E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2153805C1E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2153805C1E1280.jpg',
    'fullPath': 'business/investment/stockexchange/2153805',
    'canonical': 'https://www.thairath.co.th/business/investment/stockexchange/2153805',
    'premiumType': 'free'},
   {'id': 2153800,
    '_id': '61043962746a1b661daba558',
    'type': 2,
    'title': 'มูลค่าการซื้อขาย 7,946.75 ล้านบาท',
    'credit': 'ไทยรัฐฉบับพิมพ์',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'หุ้น',
    'topicEn': 'stockexchange',
    'topicPath': 'business/investment/stockexchange',
    'abstract': 'ดัชนีเศรษฐกิจ',
    'content': '',
    'tags': ['หุ้นไทย',
     'ตลาดหลักทรัพย์',
     'ตลาดหุ้น',
     'หุ้น',
     'หุ้นไทยวันนี้',
     'หุ้นวันนี้',
     'ดัชนีเศรษฐกิจ'],
    'publishTs': 1627682460000,
    'publishTime': '2021-07-30T22:01:00.000Z',
    'publishTimeTh': '30 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2153800C1E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2153800C1E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2153800C1E1280.jpg',
    'fullPath': 'business/investment/stockexchange/2153800',
    'canonical': 'https://www.thairath.co.th/business/investment/stockexchange/2153800',
    'premiumType': 'free'},
   {'id': 2153280,
    '_id': '6103915f746a1b661d5969a2',
    'type': 1,
    'title': 'หุ้นไทยวันนี้ ปิดตลาดหุ้นเช้า ปรับลด 16.45 ดัชนีอยู่ที่ 1,521 จุด',
    'credit': 'ไทยรัฐออนไลน์',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'หุ้น',
    'topicEn': 'stockexchange',
    'topicPath': 'business/investment/stockexchange',
    'abstract': 'หุ้นไทยวันนี้ ปิดตลาดหุ้นเช้า ปรับลด 16.45 ดัชนีอยู่ที่ 1,521.33 จุด มูลค่าการซื้อขาย 47,230.47 ล้านบาท',
    'content': '',
    'tags': ['หุ้นไทย',
     'ตลาดหลักทรัพย์',
     'ตลาดหุ้น',
     'หุ้น',
     'หุ้นไทยวันนี้',
     'หุ้นวันนี้',
     'เศรษฐกิจ'],
    'publishTs': 1627623900000,
    'publishTime': '2021-07-30T05:45:00.000Z',
    'publishTimeTh': '30 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2153280C1E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2153280C1E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2153280C1E1280.jpg',
    'fullPath': 'business/investment/stockexchange/2153280',
    'canonical': 'https://www.thairath.co.th/business/investment/stockexchange/2153280',
    'premiumType': 'free'},
   {'id': 2153215,
    '_id': '61037de0746a1b661d4fb6ea',
    'type': 1,
    'title': 'ไทยออยล์ ประกาศลงทุนธุรกิจ "ปิโตรเคมีโอเลฟินส์" ที่อินโดนีเซีย',
    'credit': 'ไทยรัฐออนไลน์',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'หุ้น',
    'topicEn': 'stockexchange',
    'topicPath': 'business/investment/stockexchange',
    'abstract': 'ไทยออยล์ ประกาศลงทุนธุรกิจปิโตรเคมีสายโอเลฟินส์ ที่อินโดนีเซีย มูลค่า 1,183 ล้านเหรียญสหรัฐ ยืนหนึ่งในธุรกิจปิโตรเลียม ปิโตรเคมีครบวงจร ',
    'content': '',
    'tags': ['ไทยออยล์', 'TOP', 'วิรัตน์ เอื้อนฤมิต', 'โอเลฟินส์', 'CAP'],
    'publishTs': 1627620900000,
    'publishTime': '2021-07-30T04:55:00.000Z',
    'publishTimeTh': '30 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2153215C4E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2153215C4E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2153215C4E1280.jpg',
    'fullPath': 'business/investment/stockexchange/2153215',
    'canonical': 'https://www.thairath.co.th/business/investment/stockexchange/2153215',
    'premiumType': 'free'},
   {'id': 2153133,
    '_id': '610365f0746a1b661d43f626',
    'type': 1,
    'title': 'ราคาทองวันนี้ 30/7/64 ล่าสุด ปรับขึ้น 100 ทองรูปพรรณ เกือบบาทละ 29,000',
    'credit': 'ไทยรัฐออนไลน์',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'ราคาทองคำ',
    'topicEn': 'gold',
    'topicPath': 'business/investment/gold',
    'abstract': 'ราคาทองวันนี้ เปิดตลาดเช้าวันศุกร์ ราคาปรับขึ้น 100 โดยราคา "ทองคำแท่ง" ขายออกบาทละ 28,400 ราคา "ทองรูปพรรณ" ขายออกบาทละ 28,900 บาท',
    'content': '',
    'tags': ['ราคาทองวันนี้',
     'ราคาทอง',
     'ราคาทองคำวันนี้',
     'ราคาทองรูปพรรณ',
     'ราคาทองรูปพรรณวันนี้',
     'ราคาทองคำแท่ง',
     'ราคาทองวันนี้ล่าสุด'],
    'publishTs': 1627612980000,
    'publishTime': '2021-07-30T02:43:00.000Z',
    'publishTimeTh': '30 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2153133C1E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2153133C1E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2153133C1E1280.jpg',
    'fullPath': 'business/investment/gold/2153133',
    'canonical': 'https://www.thairath.co.th/business/investment/gold/2153133',
    'premiumType': 'free'},
   {'id': 2152630,
    '_id': '61025f98746a1b661dcee3f6',
    'type': 2,
    'title': 'ใช้เงินทำงานผ่านกองทุน Income Fund',
    'credit': 'ไทยรัฐฉบับพิมพ์',
    'label': [],
    'section': 'เศรษฐกิจ',
    'sectionEn': 'business',
    'topic': 'การลงทุน',
    'topicEn': 'investment',
    'topicPath': 'business/investment',
    'abstract': 'Income Fund เป็นกองทุนรวมผสม ลงทุนในตราสารหนี้ ตราสารทุน หน่วยลงทุนของกองทุนรวม เช่น กองทุนรวมอสังหาริมทรัพย์ กองทุนรวมโครงสร้างพื้นฐาน หน่วยทรัสต์เพื่อการลงทุนในอสังหาริมทรัพย์',
    'content': '',
    'tags': ['การลงทุน',
     'ตลาดหลักทรัพย์',
     'Income Fund',
     'กองทุนรวมผสม',
     'กองทุนรวมอสังหาริมทรัพย์',
     'คุณนายพารวย',
     'รู้เก็บรู้ออม'],
    'publishTs': 1627596480000,
    'publishTime': '2021-07-29T22:08:00.000Z',
    'publishTimeTh': '29 ก.ค. 64',
    'image': 'https://static.thairath.co.th/media/00_A5B2152630C1E480.jpg',
    'image_medium': 'https://static.thairath.co.th/media/00_A5B2152630C1E700.jpg',
    'image_large': 'https://static.thairath.co.th/media/00_A5B2152630C1E1280.jpg',
    'fullPath': 'business/investment/2152630',
    'canonical': 'https://www.thairath.co.th/business/investment/2152630',
    'premiumType': 'free'}],
  'paging': '/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627596480000'},
 'isCached': True}

In [ ]:
topic_list, title_list, abstract_list, url_list, timestamp_list = [], [], [], [], []

for doc in data['items']['contents']:
  topic_list.append('business')
  title_list.append(doc['title'])
  abstract_list.append(doc['abstract'])
  url_list.append(doc['canonical'])
  timestamp_list.append(doc['publishTime'])

In [ ]:
import pandas as pd
df = pd.DataFrame({'topic':topic_list,
                   'title':title_list,
                   'abstract':abstract_list,
                   'url':url_list,
                   'timestamp':timestamp_list
                  })

In [ ]:
df

,topic,title,abstract,url,timestamp
0,business,ราคาทองวันนี้ 31/7/64 ล่าสุด เปิดตลาดเช้าวันเส...,ราคาทองวันนี้ เปิดตลาดเช้าวันเสาร์ ราคาปรับลด ...,https://www.thairath.co.th/business/investment...,2021-07-31T02:44:00.000Z
1,business,ราคาทองคำยังพุ่งต่อ YLG มองเทคนิคระยะสั้นสดใส ...,ราคาทองคำยังพุ่งต่อ รับผลประชุมเฟดที่ยังไม่เร่...,https://www.thairath.co.th/business/investment...,2021-07-31T02:15:00.000Z
2,business,เลือกหุ้นปันผลสูง!!,"ดัชนีหุ้นไทยวันที่ 30 ก.ค.64 ปิดที่ 1,521.92 จ...",https://www.thairath.co.th/business/investment...,2021-07-30T22:01:00.000Z
3,business,"มูลค่าการซื้อขาย 7,946.75 ล้านบาท",ดัชนีเศรษฐกิจ,https://www.thairath.co.th/business/investment...,2021-07-30T22:01:00.000Z
4,business,หุ้นไทยวันนี้ ปิดตลาดหุ้นเช้า ปรับลด 16.45 ดัช...,หุ้นไทยวันนี้ ปิดตลาดหุ้นเช้า ปรับลด 16.45 ดัช...,https://www.thairath.co.th/business/investment...,2021-07-30T05:45:00.000Z
5,business,"ไทยออยล์ ประกาศลงทุนธุรกิจ ""ปิโตรเคมีโอเลฟินส์...",ไทยออยล์ ประกาศลงทุนธุรกิจปิโตรเคมีสายโอเลฟินส...,https://www.thairath.co.th/business/investment...,2021-07-30T04:55:00.000Z
6,business,ราคาทองวันนี้ 30/7/64 ล่าสุด ปรับขึ้น 100 ทองร...,ราคาทองวันนี้ เปิดตลาดเช้าวันศุกร์ ราคาปรับขึ้...,https://www.thairath.co.th/business/investment...,2021-07-30T02:43:00.000Z
7,business,ใช้เงินทำงานผ่านกองทุน Income Fund,Income Fund เป็นกองทุนรวมผสม ลงทุนในตราสารหนี้...,https://www.thairath.co.th/business/investment...,2021-07-29T22:08:00.000Z

In [ ]:
topic_list, title_list, abstract_list, url_list, timestamp_list = [], [], [], [], []

In [ ]:
url = 'https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626223320000'
res = requests.get(url)
json_val = res.json()

In [ ]:
# args.path = ['business/feature']
# args.ts = ['1581891780000']

In [ ]:
counter = 0
import time
for path, ts in zip(args.path, args.ts):
  sub_url = args.base_path + path + args.middle_param + ts
  print(sub_url)
  for i in range(10): #only 1 seed ไต่ต่อแค่ 10 หน้า
    print("# Request: {}, {}".format(counter + 1, i + 1))
    print(sub_url)
    url = args.base_url + sub_url
    print(url)
    res = requests.get(url)
    json_val = res.json()

    for doc in json_val['items']['contents']:
      topic_list.append('business')
      title_list.append(doc['title'])
      abstract_list.append(doc['abstract'])
      url_list.append(doc['canonical'])
      timestamp_list.append(doc['publishTime'])

    sub_url = json_val['items']['paging']
    if 'undefined' in sub_url or sub_url == '' or sub_url is None:
      break
    if i%5 == 0:
      time.sleep(1) #คืน 1 วิ

    counter = counter + 1

/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627702200000
# Request: 1, 1
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627702200000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627702200000
# Request: 2, 2
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627596480000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627596480000
# Request: 3, 3
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627509660000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627509660000
# Request: 4, 4
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627365180000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627365180000
# Request: 5, 5
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627077660000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1627077660000
# Request: 6, 6
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626923160000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626923160000
# Request: 7, 7
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626846540000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626846540000
# Request: 8, 8
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626774900000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626774900000
# Request: 9, 9
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626662280000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626662280000
# Request: 10, 10
/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626414600000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/investment&key=latest&ts=1626414600000
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627694880000
# Request: 11, 1
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627694880000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627694880000
# Request: 12, 2
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627600500000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627600500000
# Request: 13, 3
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627538220000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627538220000
# Request: 14, 4
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627510500000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627510500000
# Request: 15, 5
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627341000000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627341000000
# Request: 16, 6
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627081260000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1627081260000
# Request: 17, 7
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626996600000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626996600000
# Request: 18, 8
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626919800000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626919800000
# Request: 19, 9
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626823800000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626823800000
# Request: 20, 10
/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626769800000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/economics&key=latest&ts=1626769800000
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627811340000
# Request: 21, 1
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627811340000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627811340000
# Request: 22, 2
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627567860000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627567860000
# Request: 23, 3
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627370280000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627370280000
# Request: 24, 4
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627277760000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1627277760000
# Request: 25, 5
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626995700000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626995700000
# Request: 26, 6
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626912600000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626912600000
# Request: 27, 7
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626758974000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626758974000
# Request: 28, 8
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626435780000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626435780000
# Request: 29, 9
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626387300000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626387300000
# Request: 30, 10
/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626255840000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/market&key=latest&ts=1626255840000
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1627616820000
# Request: 31, 1
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1627616820000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1627616820000
# Request: 32, 2
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1627118700000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1627118700000
# Request: 33, 3
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1626824700000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1626824700000
# Request: 34, 4
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1626321360000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1626321360000
# Request: 35, 5
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625806080000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625806080000
# Request: 36, 6
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625571660000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625571660000
# Request: 37, 7
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625269500000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625269500000
# Request: 38, 8
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625120027000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1625120027000
# Request: 39, 9
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1624833000000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1624833000000
# Request: 40, 10
/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1624257300000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/finance&key=latest&ts=1624257300000
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1627613040000
# Request: 41, 1
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1627613040000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1627613040000
# Request: 42, 2
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1627081920000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1627081920000
# Request: 43, 3
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1626522900000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1626522900000
# Request: 44, 4
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1625436480000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1625436480000
# Request: 45, 5
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1624658460000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1624658460000
# Request: 46, 6
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1623819600000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1623819600000
# Request: 47, 7
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1622152860000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1622152860000
# Request: 48, 8
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1621670400000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1621670400000
# Request: 49, 9
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1620957600000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1620957600000
# Request: 50, 10
/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1620079440000
https://api.thairath.co.th/v1.1/thairath-online/load-more?path=business/feature&key=latest&ts=1620079440000

In [ ]:
import pandas as pd
df = pd.DataFrame({'topic':topic_list,
                   'title':title_list,
                   'abstract':abstract_list,
                   'url':url_list,
                   'timestamp':timestamp_list
                  })

In [ ]:
df.shape
# (111 * 8) + 2 = 890

(800, 5)

In [ ]:
df.head()

,topic,title,abstract,url,timestamp
0,business,ราคาทองวันนี้ 31/7/64 ล่าสุด เปิดตลาดเช้าวันเส...,ราคาทองวันนี้ เปิดตลาดเช้าวันเสาร์ ราคาปรับลด ...,https://www.thairath.co.th/business/investment...,2021-07-31T02:44:00.000Z
1,business,ราคาทองคำยังพุ่งต่อ YLG มองเทคนิคระยะสั้นสดใส ...,ราคาทองคำยังพุ่งต่อ รับผลประชุมเฟดที่ยังไม่เร่...,https://www.thairath.co.th/business/investment...,2021-07-31T02:15:00.000Z
2,business,เลือกหุ้นปันผลสูง!!,"ดัชนีหุ้นไทยวันที่ 30 ก.ค.64 ปิดที่ 1,521.92 จ...",https://www.thairath.co.th/business/investment...,2021-07-30T22:01:00.000Z
3,business,"มูลค่าการซื้อขาย 7,946.75 ล้านบาท",ดัชนีเศรษฐกิจ,https://www.thairath.co.th/business/investment...,2021-07-30T22:01:00.000Z
4,business,หุ้นไทยวันนี้ ปิดตลาดหุ้นเช้า ปรับลด 16.45 ดัช...,หุ้นไทยวันนี้ ปิดตลาดหุ้นเช้า ปรับลด 16.45 ดัช...,https://www.thairath.co.th/business/investment...,2021-07-30T05:45:00.000Z

In [ ]:
df.tail()

,topic,title,abstract,url,timestamp
795,business,"""กิมจิคุณคิม"" กิมจิโอ่งสายพันธุ์ไทย เกิดช่วงโค...","เศรษฐีป้ายแดง คุยกับ ""เยจิน คิม"" เจ้าของร้านกิ...",https://www.thairath.co.th/business/feature/20...,2021-04-30T10:22:00.000Z
796,business,"คุยกับ เจ้าของ ""โตเกียวยักษ์นายเจ"" เริ่มจากทุน...","เศรษฐีป้ายแดง พูดคุยกับ เจ้าของธุรกิจ ""โตเกียว...",https://www.thairath.co.th/business/feature/20...,2021-04-29T10:28:00.000Z
797,business,จับตากระแสร้อนแรงของตลาดคริปโตฯ หลังมูลค่าพุ่ง...,ปรมินทร์ แนะนักลงทุนตลาดคริปโตฯ จับตากระแสหลัง...,https://www.thairath.co.th/business/feature/20...,2021-04-28T07:30:00.000Z
798,business,"เราเป็นมนุษย์ 40 คิดแบบ ""กรมเชษฐ์"" AssetWise ข...",เราเป็นมนุษย์ 40 หรือ ปี 40 ได้เห็นภาพบริษัทห...,https://www.thairath.co.th/business/feature/20...,2021-04-27T01:20:00.000Z
799,business,ก้าวสู่สังคมคาร์บอนต่ำ โอกาสใหม่ของธุรกิจพิชิต...,หลายประเทศทั่วโลกจึงได้มีความพยายามที่จะลดการป...,https://www.thairath.co.th/business/feature/20...,2021-04-26T04:30:00.000Z

### Example 4 - Thaichana with Python requests <font color='red'>(Need to try this in Jupyter Notebook in local machine)</font>

https://www.thaichana.com/

Here, we will work with the website Thaichana that has been created for recording citizen traffics in going in and out shops in Thailand.

https://merchant.thaichana.com/

<figure>
<center>
<img src="https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/images/search_page.jpg" width="400"/>
<figcaption><em>Search Page</em>
</figcaption></center>
</figure>

https://merchant.thaichana.com/search?size=10&page=0&category=%E0%B8%97%E0%B8%B8%E0%B8%81%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A0%E0%B8%97&province=%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%A3&rating=0&passQuestionnaire=false&lockLatLong=false

See example of information from Thaichana.com
The image below show *types* of location.

<figure>
<center>
<img src="https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/images/shop_type.jpg" width="400"/>
<figcaption><em>Shop type</em>
</figcaption></center>
</figure>


The image below show location information, such as The Mall Bangkae.


<figure>
<center>
<img src="https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/images/themall_bangkae.jpg" width="400"/>
<figcaption><em>The Mall Bangkae</em>
</figcaption></center>
</figure>

In [ ]:
import requests
from pandas import json_normalize

url = "https://api-customer.thaichana.com/shop/0001/S0000011223"
response = requests.get(url)
print(type(response))
print(response.text)

<class 'requests.models.Response'>
<!doctype html><meta charset="utf-8"><meta name=viewport content="width=device-width, initial-scale=1"><title>403</title>403 Forbidden

In [ ]:
!pip install cfscrape

import cfscrape
session = requests.Session()
session.headers = ...
scraper = cfscrape.create_scraper(sess=session)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cfscrape
  Downloading cfscrape-2.1.1-py3-none-any.whl (12 kB)
Requirement already satisfied: requests>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from cfscrape) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.6.1->cfscrape) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.6.1->cfscrape) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.6.1->cfscrape) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.6.1->cfscrape) (3.0.4)
Installing collected packages: cfscrape
Successfully installed cfscrape-2.1.1

In [ ]:
url = "https://api-customer.thaichana.com/shop/0001/S0000011223"
response = scraper.get(url)
print(type(response))
print(response.text)

<class 'requests.models.Response'>
<!doctype html><meta charset="utf-8"><meta name=viewport content="width=device-width, initial-scale=1"><title>403</title>403 Forbidden

In [ ]:
url = "https://api-customer.thaichana.com/shop/0001/S0000010001"
response = requests.get(url)
data = response.json()
df = json_normalize(data)
df

JSONDecodeError: ignored

### Define the above code as a fuction for reusable and convenient calls

In [ ]:
def getData(url):
  response = requests.get(url)
  return response.json()

### Try to use the just defined function

In [ ]:
url = "https://api-customer.thaichana.com/shop/0001/S0000010006"
getData(url)

NameError: ignored

### Try to retrieve more data from the same url but multiple times
You can notice that the item is defined by the last route of url.

In [ ]:
shops = []
for i in range(10):
  data = getData(url)
  shops.append(data)
  print(data)

NameError: ignored

In [ ]:
### Let's print details of all shops that we have just gather
df = json_normalize(shops)
df

Empty DataFrame
Columns: []
Index: []

### we need to define another fucntion to customize our url to item, from a given base url.

1. pad zeros to a string of number
> n = '4' <br>
> print(n.zfill(3))

004

2. pad zeros to number
> n = 4 <br>
> print(f'{n:03}') # Preferred method, python >= 3.6

004

In [ ]:
def generateUrl(id):
  baseUrl = "https://api-customer.thaichana.com/shop/0001/S"
  maxSidLen = 10

  ##---manually pad zeros---
  #idLen = len(str(id))
  #numZero = maxSidLen - idLen
  #sId = '0' * numZero + str(id)

  if type(id) == str:
      sId = id.zfill(maxSidLen)
  elif type(id) == int:
      sId = str(id).zfill(maxSidLen)
  #print(sId)

  url = baseUrl + sId
  return url

In [ ]:
# test our function by giving integer as an argument
generateUrl(111)

'https://api-customer.thaichana.com/shop/0001/S0000000111'

In [ ]:
# test our function by giving string as an argument
generateUrl('3')

'https://api-customer.thaichana.com/shop/0001/S0000000003'

### Retrive info of multiple shops, using our two custom function

In [ ]:
# url = "https://api-customer.thaichana.com/shop/0001/S0000010001"
shops = []
for i in range(1,2001):
  url = generateUrl(i)
  print(url)
  data = getData(url)
  shops.append(data)
  #input()
shops

https://api-customer.thaichana.com/shop/0001/S0000000001

NameError: ignored

In [ ]:
### Let's print details of all shops that we have just gather
df = json_normalize(shops)
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df.isna()

Empty DataFrame
Columns: []
Index: []

In [ ]:
df.isna().sum()

Series([], dtype: float64)

In [ ]:
# Drop records with missing shopID Define in which columns to look for missing values.
df.dropna(subset=['shopId'], inplace=True)
df

KeyError: ignored

In [ ]:
df.isna().sum()

In [ ]:
df[df['shopName'].isna()]

KeyError: ignored

## delete rows from a pandas DataFrame based on a conditional expression

df = df.drop(some labels)

df = df.drop(df[<some boolean condition>].index)

Example

To remove all rows where column 'score' is < 50:

df = df.drop(df[df.score < 50].index)

In place version (as pointed out in comments)

df.drop(df[df.score < 50].index, inplace=True)

### Let's drop rows of shopId, whose info is missing.

In [ ]:
df.drop(df[df['shopName'].isna()].index, inplace=True)
df

In [ ]:
df.isna().sum()

In [ ]:
df[df['shopName'].isna()]

In [ ]:
df[df['businessType']=='สถาบันการเงิน']

In [ ]:
df[(df['businessType']=='ธนาคาร') & (df['shopName'].str[0:4]!='บมจ.')]

In [ ]:
df[(df['businessType']=='ธนาคาร') & (df['shopName'].str.find('กรุงไทย')==-1)]

In [ ]:
df[(df['businessType']=='ซุปเปอร์มาร์เก็ต') & (df['shopName'].str.find('เซ็นทรัล')!=-1)]

### Example 5 - Request from Pantip.com
#### try to get api from website that sen requests to get content for client side rendering.

ex: https://pantip.com/forum/supachalasai

In [ ]:
url = 'https://pantip.com/api/forum-service/forum/room_topic?room=supachalasai&limit=50&next_id=41598960'
header_dict = {'ptauthorize': 'Basic dGVzdGVyOnRlc3Rlcg=='} # modify here
response = requests.get(url, headers = header_dict)
data = response.json()
data

{'success': True,
 'data': [{'topic_id': 41598923,
   'title': 'ทำไงดีคะเมื่อรู้สึกท้อ',
   'topic_type': 3,
   'created_time': '2022-08-23T12:08:57Z',
   'views_count': 180,
   'comments_count': 2,
   'votes_count': 0,
   'author': {'id': 6653436,
    'name': 'สมาชิกหมายเลข 6653436',
    'avatar': {'original': '',
     'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/6653436'},
   'tags': [{'name': 'กีฬา', 'slug': 'กีฬา'}]},
  {'topic_id': 41598897,
   'title': 'เฮนโด้มีส่วนแจกประตูลูกที่ 2 ให้แมนยู เหมือนตอนที่เจอร์ราดลื่นแล้วแจกประตูให้เชลซีหรือไม่ครับ',
   'topic_type': 3,
   'created_time': '2022-08-23T11:55:27Z',
   'views_count': 768,
   'comments_count': 4,
   'votes_count': 0,
   'author': {'id': 6426948,
    'name': 'สมาชิกหมายเลข 6426948',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/6426948'},
   'tags': [{'name': 'Manchester United F.C.',
     'slug': 'Manchester_United_F.C.'},
    {'name': 'Liverpool F.C.', 'slug': 'Liverpool_F.C.'},
    {'name': 'Premier League (League)', 'slug': 'Premier_League_(League)'},
    {'name': 'Chelsea F.C.', 'slug': 'Chelsea_F.C.'}]},
  {'topic_id': 41598854,
   'title': 'กาม่า โดนทีม-ูปลดแล้วนะ หลังพาทีมอยู่ในโซนตกชั้น เคลีก',
   'topic_type': 1,
   'created_time': '2022-08-23T11:27:01Z',
   'thumbnail_url': 'https://f.ptcdn.info/241/078/000/rh2fq98miW56H2mXeW6-s.png',
   'views_count': 1299,
   'comments_count': 8,
   'votes_count': 0,
   'author': {'id': 4967487,
    'name': 'สมาชิกหมายเลข 4967487',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/4967487'},
   'tags': [{'name': 'ฟุตบอลไทย', 'slug': 'ฟุตบอลไทย'},
    {'name': 'ไทยลีก (Thai League)', 'slug': 'ไทยลีก_(Thai_League)'}]},
  {'topic_id': 41598810,
   'title': 'ครูไม่ดันเเละไม่สนใจเลยทั้งที่เราตั้งใจฝึกซ้อมมากๆ',
   'topic_type': 3,
   'created_time': '2022-08-23T11:01:39Z',
   'views_count': 248,
   'comments_count': 4,
   'votes_count': 0,
   'author': {'id': 6818739,
    'name': 'สมาชิกหมายเลข 6818739',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/6818739'},
   'tags': [{'name': 'ตะกร้อ', 'slug': 'ตะกร้อ'},
    {'name': 'นักกีฬา', 'slug': 'นักกีฬา'}]},
  {'topic_id': 41598772,
   'title': 'เซ็นสัญญาเรียบร้อยแล้ว "น้องหยก" ขึ้นชุดใหญ่สุพรีม แถมด้วย "น้องบิว" อีกหนึ่งคน',
   'topic_type': 1,
   'created_time': '2022-08-23T10:36:46Z',
   'thumbnail_url': 'https://f.ptcdn.info/240/078/000/rh2dfvdnlBvgF3Oe6j9-s.jpg',
   'views_count': 3631,
   'comments_count': 10,
   'votes_count': 1,
   'author': {'id': 7054536,
    'name': 'สมาชิกหมายเลข 7054536',
    'avatar': {'original': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_o.jpg',
     'large': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_l.jpg',
     'medium': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_m.jpg',
     'small': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_s.jpg'},
    'slug': '/profile/7054536'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'}]},
  {'topic_id': 41598769,
   'title': 'นักแบดมินตันในยุคปัจจุบันที่ยังคงไร้เหรียญชิงแชมป์โลกคล้องคอ เพื่อน ๆ คิดว่าใครจะปลดล็อคได้ในปีนี้บ้าง?',
   'topic_type': 3,
   'created_time': '2022-08-23T10:34:09Z',
   'views_count': 891,
   'comments_count': 3,
   'votes_count': 0,
   'author': {'id': 6998111,
    'name': 'สมาชิกหมายเลข 6998111',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/6998111'},
   'tags': [{'name': 'กีฬา', 'slug': 'กีฬา'},
    {'name': 'แบดมินตัน', 'slug': 'แบดมินตัน'}]},
  {'topic_id': 41598732,
   'title': 'หูววว์ โอกาสมาแล้วน้อง ๆ เงินเดือนสองแสน 2 ปี',
   'topic_type': 1,
   'created_time': '2022-08-23T10:13:02Z',
   'thumbnail_url': 'https://f.ptcdn.info/240/078/000/rh2bzr296O10boJfX8V-s.jpg',
   'views_count': 1087,
   'comments_count': 6,
   'votes_count': 0,
   'author': {'id': 6773802,
    'name': 'สมาชิกหมายเลข 6773802',
    'avatar': {'original': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_o.jpg',
     'large': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_l.jpg',
     'medium': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_m.jpg',
     'small': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_s.jpg'},
    'slug': '/profile/6773802'},
   'tags': [{'name': 'ฟุตบอลไทย', 'slug': 'ฟุตบอลไทย'},
    {'name': 'ฟุตบอล', 'slug': 'ฟุตบอล'}]},
  {'topic_id': 41598707,
   'title': 'เรือร้อยแต้ม / ปืนไร้พ่าย / ผีสามแชมป์ ... คิดว่าอันไหนมีโอกาสเกิดซ้ำอีก ยากที่สุด ครับ ?',
   'topic_type': 3,
   'created_time': '2022-08-23T09:55:56Z',
   'views_count': 813,
   'comments_count': 9,
   'votes_count': 0,
   'author': {'id': 2456588,
    'name': 'สมาชิกหมายเลข 2456588',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/2456588'},
   'tags': [{'name': 'Premier League (League)',
     'slug': 'Premier_League_(League)'},
    {'name': 'ฟุตบอล', 'slug': 'ฟุตบอล'},
    {'name': 'ฟุตบอลต่างประเทศ', 'slug': 'ฟุตบอลต่างประเทศ'},
    {'name': 'สโมสรฟุตบอลอังกฤษ', 'slug': 'สโมสรฟุตบอลอังกฤษ'}]},
  {'topic_id': 41598657,
   'title': 'เวิร์คพอยท์ 23 เป็นผู้ถือสิทธิ์การถ่ายทอดสดการแข่งขันวอลเลย์บอลหญิงชิงแชมป์โลก เป็นปีที่ 3',
   'topic_type': 1,
   'created_time': '2022-08-23T09:23:34Z',
   'thumbnail_url': 'https://f.ptcdn.info/240/078/000/rh2a2dcnbzKu2yYCsOK-s.jpg',
   'views_count': 4482,
   'comments_count': 10,
   'votes_count': 1,
   'author': {'id': 7054536,
    'name': 'สมาชิกหมายเลข 7054536',
    'avatar': {'original': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_o.jpg',
     'large': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_l.jpg',
     'medium': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_m.jpg',
     'small': 'https://p.ptcdn.info/342/014/000/7054536_16539677233896_s.jpg'},
    'slug': '/profile/7054536'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'}]},
  {'topic_id': 41598655,
   'title': 'เอาดีๆแอบเสียดายงบประมาณทีมวอลเลย์บอลชาย',
   'topic_type': 3,
   'created_time': '2022-08-23T09:22:35Z',
   'views_count': 2245,
   'comments_count': 20,
   'votes_count': 0,
   'author': {'id': 7104839,
    'name': 'สมาชิกหมายเลข 7104839',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/7104839'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'},
    {'name': 'วอลเลย์บอลไทย', 'slug': 'วอลเลย์บอลไทย'}]},
  {'topic_id': 41598646,
   'title': '✓ขออนุญาต!เหลือบดูตารางของหงส์เริ่มน่ากลัวพัวพันเข้าขั้นวิกฤติใกล้ชิดโคม่าน่าใส่สายน้ำเกลือเพื่อดูอาการได้แล้วรึยังครับ?',
   'topic_type': 3,
   'created_time': '2022-08-23T09:15:40Z',
   'views_count': 957,
   'comments_count': 15,
   'votes_count': 0,
   'author': {'id': 6940558,
    'name': 'สมาชิกหมายเลข 6940558',
    'avatar': {'original': 'https://p.ptcdn.info/468/014/000/6940558_16594504734791_o.jpg',
     'large': 'https://p.ptcdn.info/468/014/000/6940558_16594504734791_l.jpg',
     'medium': 'https://p.ptcdn.info/468/014/000/6940558_16594504734791_m.jpg',
     'small': 'https://p.ptcdn.info/468/014/000/6940558_16594504734791_s.jpg'},
    'slug': '/profile/6940558'},
   'tags': [{'name': 'สโมสรฟุตบอลอังกฤษ', 'slug': 'สโมสรฟุตบอลอังกฤษ'},
    {'name': 'Premier League (League)', 'slug': 'Premier_League_(League)'},
    {'name': 'ฟุตบอลต่างประเทศ', 'slug': 'ฟุตบอลต่างประเทศ'}]},
  {'topic_id': 41598641,
   'title': 'รันทาคาฮาชิ vs อิมซองจิน ใครเก่งกว่ากัน',
   'topic_type': 3,
   'created_time': '2022-08-23T09:12:14Z',
   'views_count': 1792,
   'comments_count': 17,
   'votes_count': 0,
   'author': {'id': 7115499,
    'name': 'สมาชิกหมายเลข 7115499',
    'avatar': {'original': '',
     'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/7115499'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'}]},
  {'topic_id': 41598638,
   'title': 'จบลงแล้วสำหรับรายการชิงแชมป์เอเชียชุดเยาวชนชาย U18 ที่กรุงเตหะรานประเทศอิหร่าน 2022',
   'topic_type': 3,
   'created_time': '2022-08-23T09:10:13Z',
   'thumbnail_url': 'https://f.ptcdn.info/239/078/000/rh28qcq65CHOx18Om4Q-s.jpg',
   'views_count': 2096,
   'comments_count': 2,
   'votes_count': 0,
   'author': {'id': 6326557,
    'name': 'สมาชิกหมายเลข 6326557',
    'avatar': {'original': 'https://p.ptcdn.info/389/014/000/6326557_38131558101655958192_IMG-2392-JPG_o.jpg',
     'large': 'https://p.ptcdn.info/389/014/000/6326557_38131558101655958192_IMG-2392-JPG_l.jpg',
     'medium': 'https://p.ptcdn.info/389/014/000/6326557_38131558101655958192_IMG-2392-JPG_m.jpg',
     'small': 'https://p.ptcdn.info/389/014/000/6326557_38131558101655958192_IMG-2392-JPG_s.jpg'},
    'slug': '/profile/6326557'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'},
    {'name': 'นักวอลเลย์บอล', 'slug': 'นักวอลเลย์บอล'},
    {'name': 'วอลเลย์บอลต่างประเทศ', 'slug': 'วอลเลย์บอลต่างประเทศ'}]},
  {'topic_id': 41598624,
   'title': 'ผมว่า นักเตะไทยอ่อน นะ  เพราะ ริคาร์โด้ ก็ฝีมือระดับโค้ชไทยลีก เคยคุมราชบุรี บีจี สุพรรณมา แต่พอมาคุม อุราวะ ผลงานเทพเลย',
   'topic_type': 3,
   'created_time': '2022-08-23T09:03:43Z',
   'views_count': 1393,
   'comments_count': 14,
   'votes_count': 0,
   'author': {'id': 6404118,
    'name': 'สมาชิกหมายเลข 6404118',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/6404118'},
   'tags': [{'name': 'ฟุตบอลไทย', 'slug': 'ฟุตบอลไทย'},
    {'name': 'ฟุตบอลเอเชีย', 'slug': 'ฟุตบอลเอเชีย'}]},
  {'topic_id': 41598566,
   'title': 'อยากดูบอลฟรี ทรู unlock TV ให้เชียร์บอลทีมรักฟรีๆ เลย ใครยังไม่รู้มาลองดูนะ',
   'topic_type': 1,
   'created_time': '2022-08-23T08:24:23Z',
   'thumbnail_url': 'https://f.ptcdn.info/239/078/000/rh26a4iun9ws1685e2Vk-s.jpg',
   'views_count': 615,
   'comments_count': 4,
   'votes_count': 1,
   'author': {'id': 6876946,
    'name': 'สมาชิกหมายเลข 6876946',
    'avatar': {'original': 'https://p.ptcdn.info/136/014/000/6876946_68938055021645523618_Screenshot-20211209-201236-Facebook_o.jpg',
     'large': 'https://p.ptcdn.info/136/014/000/6876946_68938055021645523618_Screenshot-20211209-201236-Facebook_l.jpg',
     'medium': 'https://p.ptcdn.info/136/014/000/6876946_68938055021645523618_Screenshot-20211209-201236-Facebook_m.jpg',
     'small': 'https://p.ptcdn.info/136/014/000/6876946_68938055021645523618_Screenshot-20211209-201236-Facebook_s.jpg'},
    'slug': '/profile/6876946'},
   'tags': [{'name': 'true online', 'slug': 'true_online'},
    {'name': 'ความบันเทิงในบ้าน', 'slug': 'ความบันเทิงในบ้าน'},
    {'name': 'กีฬา', 'slug': 'กีฬา'},
    {'name': 'ฟุตบอล', 'slug': 'ฟุตบอล'}]},
  {'topic_id': 41598560,
   'title': 'จากรูปแบบการแข่งขันวอลเลย์บอล U20 ชาย ทีมไทยเข้าสู่รอบจัดอันดับ 1-12 แล้วแม้จะยังไม่ได้แข่ง',
   'topic_type': 1,
   'created_time': '2022-08-23T08:21:39Z',
   'thumbnail_url': 'https://f.ptcdn.info/234/078/000/rh14cw23ebD7e4O4JL26-s.png',
   'views_count': 2208,
   'comments_count': 6,
   'votes_count': 1,
   'author': {'id': 577803,
    'name': 'whitecrown',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/577803'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'}]},
  {'topic_id': 41598557,
   'title': 'อัพเดทล่าสุด !!!',
   'topic_type': 1,
   'created_time': '2022-08-23T08:19:21Z',
   'views_count': 4596,
   'comments_count': 7,
   'votes_count': 0,
   'author': {'id': 3903644,
    'name': 'สมาชิกหมายเลข 3903644',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/3903644'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'},
    {'name': 'นักวอลเลย์บอล', 'slug': 'นักวอลเลย์บอล'},
    {'name': 'วอลเลย์บอลไทย', 'slug': 'วอลเลย์บอลไทย'},
    {'name': 'วอลเลย์บอลต่างประเทศ', 'slug': 'วอลเลย์บอลต่างประเทศ'}]},
  {'topic_id': 41598556,
   'title': 'มาอีก ๆ  กระปู๋ มาแมนยู',
   'topic_type': 1,
   'created_time': '2022-08-23T08:19:14Z',
   'thumbnail_url': 'https://f.ptcdn.info/239/078/000/rh260m1s6ezmXVjZeE3BI-s.jpg',
   'views_count': 2103,
   'comments_count': 3,
   'votes_count': 0,
   'author': {'id': 6773802,
    'name': 'สมาชิกหมายเลข 6773802',
    'avatar': {'original': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_o.jpg',
     'large': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_l.jpg',
     'medium': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_m.jpg',
     'small': 'https://p.ptcdn.info/981/013/000/6773802_16391792488570_s.jpg'},
    'slug': '/profile/6773802'},
   'tags': [{'name': 'ฟุตบอลต่างประเทศ', 'slug': 'ฟุตบอลต่างประเทศ'},
    {'name': 'ฟุตบอล', 'slug': 'ฟุตบอล'}]},
  {'topic_id': 41598542,
   'title': 'Bbgun glock ยี่ห้อไหนใช้อะไหล่กับแม็กกาซีนของglock weได้บ้างครับ',
   'topic_type': 3,
   'created_time': '2022-08-23T08:09:55Z',
   'views_count': 118,
   'comments_count': 0,
   'votes_count': 0,
   'author': {'id': 3640004,
    'name': 'สมาชิกหมายเลข 3640004',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/3640004'},
   'tags': [{'name': 'ยิงปืน', 'slug': 'ยิงปืน'},
    {'name': 'BB GUN', 'slug': 'BB_GUN'}]},
  {'topic_id': 41598538,
   'title': 'นัดหงส์แดงแพ้แมนยู 1-2 สิ่งที่คล็อปผิดหวังที่สุด ไม่ใช่ความพ่ายแพ้',
   'topic_type': 1,
   'created_time': '2022-08-23T08:07:02Z',
   'views_count': 1342,
   'comments_count': 3,
   'votes_count': 0,
   'author': {'id': 174658,
    'name': 'หงส์แดงผงาดฟ้า',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/174658'},
   'tags': [{'name': 'ฟุตบอลต่างประเทศ', 'slug': 'ฟุตบอลต่างประเทศ'}]},
  {'topic_id': 41598483,
   'title': '26 สิงหานี้ (อีก 3 วัน) เริ่ม MAN VOLLEYBALL WORLD CHAMPIONSHIP 2022 ตื่นเต้น !!',
   'topic_type': 1,
   'created_time': '2022-08-23T07:24:47Z',
   'views_count': 1239,
   'comments_count': 7,
   'votes_count': 0,
   'author': {'id': 5438452,
    'name': 'สมาชิกหมายเลข 5438452',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/5438452'},
   'tags': [{'name': 'วอลเลย์บอล', 'slug': 'วอลเลย์บอล'}]},
  {'topic_id': 41598446,
   'title': 'บ๊วยติดคอ',
   'topic_type': 1,
   'created_time': '2022-08-23T06:48:11Z',
   'views_count': 757,
   'comments_count': 3,
   'votes_count': 0,
   'author': {'id': 601896,
    'name': 'JackRabbit',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/601896'},
   'tags': [{'name': 'Premier League (League)',
     'slug': 'Premier_League_(League)'}]},
  {'topic_id': 41598407,
   'title': 'นักเตะนิวคาสเซิล กองกลางที่หัวโล้นๆ เมื่อฤดูกาลก่อน ชื่ออะไรครับ และเขาหายไปไหนแล้ว',
   'topic_type': 3,
   'created_time': '2022-08-23T06:26:16Z',
   'views_count': 914,
   'comments_count': 3,
   'votes_count': 0,
   'author': {'id': 1269088,
    'name': 'กาลาฮัด',
    'avatar': {'original': 'https://p.ptcdn.info/777/009/000/1269088_8143815557_24artsbeat-psy-superJumbo_o.jpg',
     'large': 'https://p.ptcdn.info/777/009/000/1269088_8143815557_24artsbeat-psy-superJumbo_l.jpg',
     'medium': 'https://p.ptcdn.info/777/009/000/1269088_8143815557_24artsbeat-psy-superJumbo_m.jpg',
     'small': 'https://p.ptcdn.info/777/009/000/1269088_8143815557_24artsbeat-psy-superJumbo_s.jpg'},
    'slug': '/profile/1269088'},
   'tags': [{'name': 'สโมสรฟุตบอลอังกฤษ', 'slug': 'สโมสรฟุตบอลอังกฤษ'},
    {'name': 'ฟุตบอลต่างประเทศ', 'slug': 'ฟุตบอลต่างประเทศ'},
    {'name': 'นักฟุตบอล', 'slug': 'นักฟุตบอล'}]},
  {'topic_id': 41598397,
   'title': 'ต่อยมวยลดน้ำหนัก',
   'topic_type': 3,
   'created_time': '2022-08-23T06:13:40Z',
   'views_count': 338,
   'comments_count': 3,
   'votes_count': 0,
   'author': {'id': 6996237,
    'name': 'สมาชิกหมายเลข 6996237',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/6996237'},
   'tags': [{'name': 'ลดความอ้วน', 'slug': 'ลดความอ้วน'},
    {'name': 'ศิลปะการต่อสู้', 'slug': 'ศิลปะการต่อสู้'},
    {'name': 'ออกกำลังกาย', 'slug': 'ออกกำลังกาย'}]},
  {'topic_id': 41598391,
   'title': 'บรูโน แฟร์นันซ์ (Bruno Fernandes) เมื่อไหร่ฟอร์มจะกลับมาเหมือนตอนมาแมนยูฯใหม่ๆครับ รู้สึกเรื่องยิงประตู assist น้อยลงไป',
   'topic_type': 3,
   'created_time': '2022-08-23T06:07:55Z',
   'views_count': 1238,
   'comments_count': 15,
   'votes_count': 0,
   'author': {'id': 6392772,
    'name': 'สมาชิกหมายเลข 6392772',
    'avatar': {'large': 'https://ptcdn.info/images/avatar_member_default.png',
     'medium': 'https://ptcdn.info/images/avatar_member_default.png',
     'small': 'https://ptcdn.info/images/avatar_member_default.png'},
    'slug': '/profile/6392772'},
   'tags': [{'name': 'นักกีฬา', 'slug': 'นักกีฬา'},
    {'name': 'สโมสรฟุตบอลอังกฤษ', 'slug': 'สโมสรฟุตบอลอังกฤษ'},
    {'name': 'Manchester United F.C.', 'slug': 'Manchester_United_F.C.'}]},
  {'topic_id': 41598388,
   'title': 'คำถามคือ ช่วงที่ดีที่สุดของลิเวอร์พูล ผ่านพ้นไปแล้วหรือไม่ อย่างไร ??',
   'topic_type': 3,
   'created_time': '2022-08-23T06:06:20Z',
   'views_count': 1066,
   'comments_count': 12,
   'votes_count': 0,
   'author': {'id': 6658466,
    'name': 'สมาชิกหมายเลข 6658466',
    'avatar': {'original': 'https://p.ptcdn.info/324/014/000/6658466_16532451495805_o.jpg',
     'large': 'https://p.ptcdn.info/324/014/000/6658466_16532451495805_l.jpg',
     'medium': 'https://p.ptcdn.info/324/014/000/6658466_16532451495805_m.jpg',
     'small': 'https://p.ptcdn.info/324/014/000/6658466_16532451495805_s.jpg'},
    'slug': '/profile/6658466'},
   'tags': [{'name': 'ฟุตบอลต่างประเทศ', 'slug': 'ฟุตบอลต่างประเทศ'},
    {'name': 'สโมสรฟุตบอลอังกฤษ', 'slug': 'สโมสรฟุตบอลอังกฤษ'},


---


# Data Collection from Database (Ex. PostgreSQL)

**SQLAlchemy** is a convenient Python package to natively interact with databases. It can retrieve data and put into the Dataframe of Pandas directly. SQLAlchemy also suppots ORM, which boosts to development speed.
psycopg2 is a database driver to connect PostgreSQL.

In [ ]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
psycopg2.__version__

'2.9.3 (dt dec pq3 ext lo64)'

In [ ]:
sqlalchemy.__version__

'1.4.40'

In [ ]:
# Configuration of all required params to connect PostgreSQL DB
POSTGRES_HOST='34.87.67.47'
POSTGRES_DATABASE='ds4biz'
POSTGRES_USER='ds4biz_student'
POSTGRES_PASSWORD='lab-icbiz535'

In [ ]:
# Test Connection
def connect_db():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(
            host=POSTGRES_HOST,
            database=POSTGRES_DATABASE,
            user=POSTGRES_USER,
            password=POSTGRES_PASSWORD)

        # create a cursor
        cur = conn.cursor()

	# execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')

        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)

	# close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')

def get_db_data(sql):

    conn = 'postgresql+psycopg2://' + POSTGRES_USER + ':' + POSTGRES_PASSWORD + '@' + POSTGRES_HOST + '/' + POSTGRES_DATABASE

    """ query data from the vendors table """
    dbConnection = None
    df = None
    try:
        # Create an engine instance
        alchemyEngine = create_engine(conn, pool_recycle=3600);

        # Connect to PostgreSQL server
        dbConnection = alchemyEngine.connect();

        # Read data from PostgreSQL database table and load into a DataFrame instance
        df = pd.read_sql(sql, dbConnection);

        pd.set_option('display.expand_frame_repr', False);

        # Close the database connection
        dbConnection.close();
    except (Exception) as error:
        print(error)
    finally:
        if dbConnection is not None:
            dbConnection.close()

    return df;

In [ ]:
# Test connection and its configuration
connect_db()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 13.3 (Debian 13.3-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit',)
Database connection closed.

## Entity Relationship Diagram for DVD Rental

<figure>
<center>
<img src="https://www.it.kmitl.ac.th/~teerapong/resources/ds4biz/week3/images/dvd-rental-ERD.png" width="700"/>
<figcaption><em>Search Page</em>
</figcaption></center>
</figure>

There are 15 tables in the DVD Rental database:

1.   actor – stores actors data including first name and last name.
2.   film – stores film data such as title, release year, length, rating, etc.
3.   film_actor – stores the relationships between films and actors.
4.   category – stores film’s categories data.
5.   film_category- stores the relationships between films and categories.
6.   store – contains the store data including manager staff and address.
7.   inventory – stores inventory data.
8.   rental – stores rental data.
9.   payment – stores customer’s payments.
10.   staff – stores staff data.
11.   customer – stores customer data.
12.   address – stores address data for staff and customers
13.   city – stores city names.
14.   country – stores country names.
15.   language - stores language names of audio in film.

In [ ]:
# Query customer's rental about how many time each converted customer rents movie DVDs from the store

sql = "SELECT c.customer_id, first_name, last_name, email, count(*) AS rental_time \
	      FROM public.rental AS r \
	      LEFT JOIN public.customer AS c \
	        ON r.customer_id = c.customer_id \
 	      GROUP BY c.customer_id \
        ORDER BY c.customer_id"

df = get_db_data(sql)
df

     customer_id first_name  last_name                                  email  rental_time
0              1       Mary      Smith          mary.smith@sakilacustomer.org           32
1              2   Patricia    Johnson    patricia.johnson@sakilacustomer.org           27
2              3      Linda   Williams      linda.williams@sakilacustomer.org           26
3              4    Barbara      Jones       barbara.jones@sakilacustomer.org           22
4              5  Elizabeth      Brown     elizabeth.brown@sakilacustomer.org           38
..           ...        ...        ...                                    ...          ...
594          595   Terrence  Gunderson  terrence.gunderson@sakilacustomer.org           30
595          596    Enrique   Forsythe    enrique.forsythe@sakilacustomer.org           28
596          597    Freddie     Duggan      freddie.duggan@sakilacustomer.org           25
597          598       Wade   Delvalle       wade.delvalle@sakilacustomer.org           22
598          599     Austin    Cintron      austin.cintron@sakilacustomer.org           19

[599 rows x 5 columns]

In [ ]:
# Query customer's rental about how many time each converted customer rents movie DVDs from the store

sql = "SELECT first_name, last_name \
				FROM public.customer \
				WHERE first_name LIKE ''%u%''"

df1 = get_db_data(sql)
df1

'dict' object does not support indexing

In [ ]:
df[df['first_name']=='Austin']

     customer_id first_name last_name                              email  rental_time
598          599     Austin   Cintron  austin.cintron@sakilacustomer.org           19

In [ ]:
df[(df['rental_time']>20) & (df['rental_time']<=25)]

     customer_id first_name last_name                              email  rental_time
3              4    Barbara     Jones   barbara.jones@sakilacustomer.org           22
7              8      Susan    Wilson    susan.wilson@sakilacustomer.org           24
8              9   Margaret     Moore  margaret.moore@sakilacustomer.org           23
9             10    Dorothy    Taylor  dorothy.taylor@sakilacustomer.org           25
10            11       Lisa  Anderson   lisa.anderson@sakilacustomer.org           24
..           ...        ...       ...                                ...          ...
582          583   Marshall     Thorn  marshall.thorn@sakilacustomer.org           23
584          585      Perry  Swafford  perry.swafford@sakilacustomer.org           24
589          590       Seth    Hannon     seth.hannon@sakilacustomer.org           25
596          597    Freddie    Duggan  freddie.duggan@sakilacustomer.org           25
597          598       Wade  Delvalle   wade.delvalle@sakilacustomer.org           22

[194 rows x 5 columns]

In [ ]:
# customer's rental in detail for each transaction and detail about movie

sql = "SELECT c.customer_id, first_name, last_name, email, f.title, rental_rate, rating, rental_date \
	      FROM public.rental AS r \
	      LEFT JOIN public.customer AS c \
		      ON r.customer_id = c.customer_id \
	      LEFT JOIN public.inventory as inv \
		      ON r.inventory_id = inv.inventory_id \
	      LEFT JOIN public.film as f \
		      ON inv.film_id = f.film_id \
        ORDER BY c.customer_id"

df = get_db_data(sql)
df

       customer_id first_name last_name                              email             title  rental_rate rating         rental_date
0                1       Mary     Smith      mary.smith@sakilacustomer.org  Adaptation Holes         2.99  NC-17 2005-08-01 08:51:04
1                1       Mary     Smith      mary.smith@sakilacustomer.org    Patient Sister         0.99  NC-17 2005-08-19 09:55:16
2                1       Mary     Smith      mary.smith@sakilacustomer.org  Bikini Borrowers         4.99  NC-17 2005-08-22 20:03:46
3                1       Mary     Smith      mary.smith@sakilacustomer.org      Attacks Hate         4.99  PG-13 2005-06-18 08:41:48
4                1       Mary     Smith      mary.smith@sakilacustomer.org   Musketeers Wait         4.99     PG 2005-06-15 00:54:12
...            ...        ...       ...                                ...               ...          ...    ...                 ...
16039          599     Austin   Cintron  austin.cintron@sakilacustomer.org    Blues Instinct         2.99      G 2005-08-23 11:25:00
16040          599     Austin   Cintron  austin.cintron@sakilacustomer.org      Family Sweet         0.99      R 2005-06-18 06:29:53
16041          599     Austin   Cintron  austin.cintron@sakilacustomer.org       Others Soup         2.99     PG 2005-07-12 21:23:59
16042          599     Austin   Cintron  austin.cintron@sakilacustomer.org         Zorro Ark         4.99  NC-17 2005-08-21 17:43:42
16043          599     Austin   Cintron  austin.cintron@sakilacustomer.org    House Dynamite         2.99      R 2005-07-31 04:57:07

[16044 rows x 8 columns]